html,
body {
     background-color: white !important;
}

.markdown-section iframe {
    border: none;
}

@font-face {
    font-family: 'Gilroy-Black';
    src: url('../styles/font/gilroy/Gilroy-Bold.ttf');
    font-weight: normal;
    font-display: swap;
}

.markdown-section h1:not(.mdc-layout-grid h1) {
    background-color: #37A661;
    text-align: left;
    width: 100%;
    font-size: 40px;
    margin: 20px 0px 40px 0px;
    padding: 30px 45px;
}

.markdown-section h1 {
    font-size: 24px;
    margin: 20px 0px 0px 0px;
}

.markdown-section h2 {
    color: #868686;
    font-size: 20px;
    margin: 20px 0px 0px 0px;
}

.markdown-section h3 {
    color: #868686;
    font-size: 16px;
    margin: 20px 0px 0px 0px;
}

.markdown-section h5:not(.row h5) {
    color: #37A661;
    font-size: 25px;
    margin: 30px 0px 30px 0px;
    font-weight: bold;
}

.markdown-section h4 {
    font-size: 15px;
    margin: 20px 0px 0px 0px;
}

.markdown-section h5 {
    color: #37A661;
    font-size: 15px;
    margin: 20px 0px 0px 0px;
}

.markdown-section h4:not(.row h4) {
    color: #37A661;
    font-size: 15px;
    font-weight: bold;
}

.markdown-section h6 {
    color: #E5E5E5;
    font-size: 12px;
    margin: 20px 0px 0px 0px;
}

.markdown-section p {
    margin: 20px 0px 0px 0px;
}

.markdown-section p:not(.form-p p) {
    font-size: 18px;
    margin: 20px 0px 30px 0px;
}

.markdown-section .mensagem p {
    font-size: 40px;
    margin: 0px 0px 0px 0px!important;
    color: #37A661;
    font-weight: bold;
}

.markdown-section h2 span,
.markdown-section h3 span {
    color: #868686;
}

.markdown-section span {
    margin: 20px 0px 0px 0px;
    color: white;
}

.block-gilroy {
    display: flex;
    align-items: center;
    font-family: 'Gilroy-Bold';
    padding: 0;
    margin: 0;
    font-weight: normal;
}

.block-arial {
    align-items: center;
    font-family: 'Arial';
    padding: 0;
    margin: 0;
    font-weight: normal;
}

.button {
    background-color: #666666;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Gilroy-Bold';
    font-size: 12px;
    margin: 6px 0px;
    cursor: pointer;
}

.content {
    padding-top: 0px;
}

.explicacao {
    padding-bottom: 20px;
    font-size: 18px;
    margin-left: 0px;
}

.paragrafo1 {
    padding-bottom: 40px;
}

.paragrafo2 {
    padding-bottom: 40px;
}

.titulo {
    padding-bottom: 5px;
    font-weight: bold;
}

.Q1 {
    width: 120px;
    height: 120px;
    background-color: #E2EEE6;
}

.Q1 h4 {
    text-align: left;
    font-size: 10px;
}

.Q2 {
    width: 120px;
    height: 120px;
    background-color: #E9F2F0;
}

.Q3 {
    width: 120px;
    height: 120px;
    background-color: #DEECF2;
}

.Q4 {
    width: 120px;
    height: 120px;
    background-color: #EDEEF0;
}

.Q5 {
    width: 120px;
    height: 120px;
    background-color: #F2FAF8;
}

.Q6 {
    width: 120px;
    height: 120px;
    background-color: #E0FCF0;
}

.Q7 {
    width: 120px;
    height: 120px;
    background-color: #3F3D3D;
}

.Q8 {
    width: 120px;
    height: 120px;
    background-color: #666666;
}

.Q9 {
    width: 120px;
    height: 120px;
    background-color: #969696;
}

.Q10 {
    width: 120px;
    height: 120px;
    background-color: #C9C9C9;
}

.Q11 {
    width: 120px;
    height: 120px;
    background-color: #E5E5E5;
}

.Q12 {
    width: 120px;
    height: 120px;
    background-color: #37A661;
}

.Q13 {
    width: 120px;
    height: 120px;
    background-color: #2FAC66;
}

.Q14 {
    width: 120px;
    height: 120px;
    background-color: #95C046;
}

.Q15 {
    width: 120px;
    height: 120px;
    background-color: #DA6F77;
}

.Q16 {
    width: 120px;
    height: 120px;
    background-color: #E6554E;
}

.Q17 {
    width: 120px;
    height: 120px;
    background-color: #E3A541;
}

.Q18 {
    width: 120px;
    height: 120px;
    background-color: #C89015;
}

.Q19 {
    width: 120px;
    height: 120px;
    background-color: #E1CE81;
}

.Q20 {
    width: 120px;
    height: 120px;
    background-color: #30578F;
}

.Q21 {
    width: 120px;
    height: 120px;
    background-color: #7CB2D5;
}

.Q22 {
    width: 120px;
    height: 120px;
    background-color: #05AAE9;
}

.Q23 {
    width: 120px;
    height: 120px;
    background-color: #F3E4E4;
}

.Q24 {
    width: 120px;
    height: 120px;
    background-color: #E3F0D8;
}

.Q25 {
    width: 120px;
    height: 120px;
    background-color: #FCF6E9;
}

.Q26 {
    width: 120px;
    height: 120px;
    background-color: #E5EEF6;
}

.Q27 {
    width: 120px;
    height: 120px;
    background-color: #E5EEF6;
}

.footer {
    width: 1200px;
    height: 250px;
    background-color: #E0FCF0;
    border-radius: 30px;
    padding: 30px 50px;
}

.content .footer img {
    margin: 0px 0px 0px 0px;
    width: 60px;
    height: 60px;
}

.common {
    margin: 30px 0px 0px 0px;
}

.normal a {
    text-decoration: none;
    font-size: 23px;
    color: #37A661;
	font-family: "Arial";
}

.normal1 a {
    text-decoration: none;
    font-size: 23px;
    color: #05AAE9;
	font-family: "Arial";
}

.desabilitado a {
    text-decoration: none;
    font-size: 23px;
    color: #37A661;
    opacity: 0.5;
}

.desabilitado1 a {
    text-decoration: none;
    font-size: 23px;
    opacity: 0.5;
}

.hover a {
    text-decoration: underline;
    font-size: 23px;
    color: #37A661;
}

.hover1 a {
    text-decoration: underline!important;
    font-size: 23px;
    color: #05AAE9;
}

.markdown-section .styleh4 h4 {
    padding: 20px 10px 20px 20px;
    color: orange;
}

.exemplos {
    font-size: 20px;
    padding: 20px 10px 20px 0px;
}

.bling-accordion .accordion-title span {
    margin-right: 4px;
    margin-left: 4px;
    font-size: 20px;
}

.bling-accordion .accordion-title {
    margin-left: 8px;
    cursor: pointer;
    float: left;
    margin-top: 0px;
}

.bling-accordion {
    color: #01d67c;
    color: var(--green-color);
    font-family: 'gilroy-form';
    font-weight: 700;
    font-size: 12px;
}

.bling-accordion h3 {
    float: left;
    margin-top: 16px;
    line-height: normal;
}

.bling-accordion span {
    margin: 0px 4px 0px 4px;
    color: #01d67c;
}

.clr {
    clear: both;
    float: none!important;
}

.atencao h5 {
    color: #37A661;
    font-size: 25px;
    font-weight: bold;
}

.alert-box {
    font-family: 'font awesome 5 free';
    font-size: 22pt;
    left: 20px;
    position: absolute;
    font-weight: 900;
}

.alert-warning span {
    margin: 0px 0px 0px 0px;
    font-family: Arial;
    color: #333333;
}

.alert-warning h3 {
    font-size: 16px;
    font-family: Arial;
    padding: 0px 0px 0px 40px;
    margin: 0px;
    color: #333333;
}

.icon-warning-sign {
    margin: 0px 0px 0px 0px;
    font-family: Arial;
    color: #868686;
    font-size: 25px;
}

.icon-ok {
    margin: 0px 0px 0px 0px;
    font-family: Arial;
    color: #37A661;
    font-size: 25px;
}

.icon-info-sign {
    margin: 0px 0px 0px 0px;
    font-family: Arial;
    color: #518acc;
    font-size: 25px;
}

.icon-warning-sign:before {
    content: "\f071";
    color: orange;
    font-size: 25px;
}

.alert-danger .icon-warning-sign:before {
    content: "\f071";
    color: red;
    font-size: 25px;
}

.alert .h3 h3 {
    content: "\f071";
    color: #37A661;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding: 0px 0px 0px 20px;
    font-size: 12px;
}

.alert {
    border-radius: 0rem!important;
}

.breadcrumb .icon-angle-right {
    font-size: 12pt;
    margin-left: 5px;
    margin-right: 5px;
}

.breadcrumb {
    margin: 10px 0;
    color: #333333;
    font-size: 15pt;
    background: 0 0;
    padding: 0px 0px 0px 0px!important;
    background-color: white!important;
}

.normal .breadcrumb a {
    color: #999;
    font-size: 20px;
    font-weight: 300;
}

.normal h4 {
	color: orange;
	font-size: 8px;
}

.normal2 h4 {
	color: orange;
	font-size: 8px;
	padding-left: 20px;
}


.normal i {
	color: green;
}

.mdc-layout-grid__inner {
    display: grid;
    margin: 0;
    grid-column-gap: 16px;
    grid-row-gap: 8px;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.bling-form {
    background-color: #fff;
    background-color: var(--background-color);
    color: #666;
    color: var(--gray-font-color);
    box-shadow: 0 2px 4px #00000029;
    box-shadow: none;
    font-family: arial-form;
    font-family: var(--font-family-arial);
    font-size: 12px;
    height: auto!important;
    min-height: auto!important;
}

.breadcrumb {
	border-bottom: 0px;
}

.bling-form input~span {
	top: 0px;
	top: 12px;
}

.bling-form input:not([type=checkbox]):not([type=radio]), .bling-form select, .bling-form textarea, .bling-form .chosen-choices, .bling-item-form {
    padding-left: 20px;
}

.btn-include {
    color: #fff !important;
    font-size: 11px !important;
    font-weight: bold !important;
    border: 1px solid #37A661 !important;
    border-radius: 8px !important;
    background-color: #37A661 !important;
	top: 250px;
	left: 62px;
	width: 208px;
	height: 32px;
	opacity: 1;
	text-align: left;
}

.btn-include-cta {

	color: #fff !important;
    font-size: 11px !important;
    font-weight: bold !important;
    border: 1px solid #37A661 !important;
    border-radius: 8px !important;
    background-color: #37A661 !important;
	top: 250px;
	left: 62px;
	width: 101px;
	height: 32px;
	opacity: 1;
	text-align: center;
}

.btn-include-secondary {
	background: #fff 0% 0% no-repeat padding-box;
	border: 1px solid #37a661;
	border-radius: 8px;
	font: normal normal normal 12px/13px Gilroy-Bold;
	letter-spacing: 0;
	color: #37a661;
	opacity: 1;
	top: 250px;
	left: 62px;
	width: 101px;
	height: 32px;
}

.btn-include-secondary2 {
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #E0FCF0;
	border-radius: 8px;
	font: normal normal normal 12px/13px Gilroy-Bold;
	letter-spacing: 0;
	color: #E0FCF0!important;
	opacity: 1;
	top: 250px;
	left: 62px;
	width: 101px;
	height: 32px;
}

.btn-include-secondary3 {
	background: #E0FCF0 0% 0% no-repeat padding-box;
	border: 1px solid #37a661;
	border-radius: 8px;
	font: normal normal normal 12px/13px Gilroy-Bold;
	letter-spacing: 0;
	color: #E0FCF0!important;
	opacity: 1;
	top: 250px;
	left: 62px;
	width: 101px;
	height: 32px;
}

.button-default-novo {
    text-transform: none;
}

.different-color .btn-include,
 .btn-include-cta-color{
    background-color: #ABF0D2 !important;
	border: 1px solid #ABF0D2 !important;
}

.btn-include-mobile {
	color: #fff !important;
    font-size: 11px !important;
    font-weight: bold !important;
    border: 1px solid #37A661 !important;
    border-radius: 8px !important;
    background-color: #37A661 !important;
	top: 250px;
	left: 278px;
	width: 40px;
	height: 32px;
	opacity: 1;
	text-align: center;
	margin:0px 0px 0px 20px;
}

.different-color .btn-include-mobile {
    border: 1px solid #ABF0D2 !important;
    background-color: #ABF0D2 !important;
}

.text-secondary {
	font-family:  'Gilroy-Bold';
	text-align: left;
	font: normal normal normal 12px/13px Gilroy-Bold;
	letter-spacing: 0px;
	color: #37A661!important;
	opacity: 1;
	font-size: 12px!important;
	cursor:none;
}

.text {
	font-family:  'Gilroy-Bold';
	text-align: left;
	font: normal normal normal 12px/13px Gilroy-Bold;
	letter-spacing: 0px;
	color: #FFFFFF;
	opacity: 1;
	font-size: 12px!important;
}

.text-secondary2 {
	font-family:  'Gilroy-Bold';
	text-align: left;
	font: normal normal normal 12px/13px Gilroy-Bold;
	letter-spacing: 0px;
	color: #E0FCF0;
	opacity: 1;
	font-size: 12px!important;
}

.fa-plus:before {
	font-size: 12px;
    top: 258px;
	left: 78px;
	width: 16px;
	height: 16px;
	opacity: 1;
}

.label-item-form-input {
	font-size: 9pt;
	color: #CCCCCC;
	margin-top: 30px;
}
.input-checkbox .desabilitado label {
    border: 1px solid #CCCCCC;
}

.vertical-align-inline.checkbox-middle {
    padding-top: 0px;
}

.desabilitado{
	color: #CCCCCC;
}

.desabilitado2{
	background-color: #CCCCCC!important;
    border: 1px solid #CCCCCC!important;
}

.row>* {
    width: auto;
}

.row {
	--bs-gutter-x: 0rem;
}

.background {
	background-color: white!important;
}

.before:before {
    font-family: 'font awesome 5 free';
    font-size: 22pt;
    left: 20px;
    position: absolute;
    font-weight: 900;
	margin: 0px 0px 0px 30px;
}
.padding p {
    font-size: 9pt;
    font-weight: 400;
    padding: 2px 0 3px 30px;
}

.ajust {
    font-family: 'font awesome 5 free';
    font-size: 22pt;
    left: -15px;
    position:relative;
    font-weight: 900;
}