:root {
	--background-color: #FFF;
	--green-color: #37A661;
	--green-color-button: #31D67C;
	--green-color-button-hover: #3FAF6C;
	--green-color-disabled: #77e2b6;
	--yellow-color: #E3A541;
	--red-color: #E6554E;
	--light-gray-color: #CCC;
	--light-blue-color: #93E3DB;
	--bling-info-color: #239DF7;
	--dark-gray-font-color: #3F3D3D;
	--white-font-color: #FFF;
	--gray-font-color: #666;
	--ligth-gray-font-color: #999999;
	--green-font-color: #2FAC66;
	--bling-form-font-family-bold: 'Gilroy-Bold';
	--danger-background-color: #FFCFCF;
	--info-background-color: #E2EFF7;
	--bling-form-font-family: 'Gilroy';
	--font-family-arial: 'Arial';
	--bling-form-font-family: 'Gilroy-Form';
	--font-family-arial: 'Arial-Form';
	--bling-form-item-border: 1px solid #BABABA;
	--letter-spacing: 0.5px;
	--box-shadow: 0px 2px 4px #00000029;
	--box-shadow-mobile: 4px 2px 2px 4px #00000029;
}

@font-face {
	font-family: 'Arial-Form';
	src: url('../font/arial/Arial.woff2') format('woff2'),
	url('../font/arial/Arial.woff') format('woff'),
	url('../font/arial/Arial.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'Arial-Form';
	src: url('../font/arial/Arial-Bold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: 'Gilroy-Form';
	src: url('../font/gilroy/Gilroy-Regular.woff2') format('woff2'),
	url('../font/gilroy/Gilroy-Regular.woff') format('woff'),
	url('../font/gilroy/Gilroy-Regular.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'Gilroy-Form';
	src: url('../font/gilroy/Gilroy-Bold.ttf');
	font-weight: bold;
}

#main-container {
	background-color: #F2FAF8;
}

.breadcrumb.on-edit {
	position: relative;
	top: 0;
	padding-bottom: 0;
	margin-left: 16px;
	padding-top: 12px;
}

.breadcrumb.on-edit li.open {
	margin-left: 0px;
}

.bling-form {
	margin: 16px;
	background-color: #FFF; background-color: var(--background-color);
	color: #666; color: var(--gray-font-color);
	box-shadow: 0px 2px 4px #00000029; box-shadow: var(--box-shadow);
	font-family: 'Arial-Form'; font-family: var(--font-family-arial);
	font-size: 12px;
	height: auto !important;
	min-height: calc(100vh - 105px);
}

.bling-form div.fixed-bar.fixed > div > div {
	align-self: center;
}

.fixed-actions {
	height: 100%;
	display: flex;
	align-items: center;
}

.fixed-actions i {
	cursor: pointer;
	font-size: 16px;
	margin-left: 16px;
	border: 1px solid #CCC;
	min-width: 40px;
	height: 34px;;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	box-shadow: 0px 1px 5px #CCC;
}

.fixed-actions i:hover {
	background-color: #CCCCCC;
}

.fixed-actions i:first-child {
	margin-left: 0;
}

@media (min-width: 480px) {
	.bling-form div.fixed-bar.fixed {
		position: fixed;
		width: 100vw;
		background: var(--background-color); background-color: #FFF;
		top: 0px;
		height: 48px;
		box-shadow: 0px 2px 4px #00000029; box-shadow: var(--box-shadow);
		left: 0;
		z-index: 100;
	}

	.bling-form div.fixed-bar.fixed > div {
		margin: 8px 24px 8px 16px;
	}
}

@media (min-height: 650px) and (max-width: 480px) {
	:root {
		--fixed-bar-height: 100px;
	}

	.bling-form div.fixed-bar,
	.bling-form div.fixed-bar.fixed {
		position: fixed;
		width: 100vw;
		background: var(--background-color);
		background-color: #FFF;
		box-shadow: 0px 2px 4px #00000029;
		box-shadow: var(--box-shadow);
		left: 0;
		z-index: 100;
		top: unset;
		bottom: 0px;
		height: auto;
		box-shadow: 4px 2px 2px 4px #00000029;
    	box-shadow: var(--box-shadow-mobile);
	}

	.bling-form div.fixed-bar > div {
		margin: 20px 24px 16px 16px;
	}

	.bling-form div.fixed-bar.fixed {
		box-shadow: 4px 2px 2px 4px #00000029;
		box-shadow: var(--box-shadow-mobile);
	}
}

@media (max-width: 768px) {
	div#edicao.bling-form {
		padding-left: 0px;
	}

	.inner-auto#container-form-propostas  {
		padding-bottom: 190px !important;
	}

	.breadcrumb.on-edit {
		margin: 8px 0 8px 0;
	}
}

.bling-form input:not([type="checkbox"]):not([type="radio"]),
.bling-form select,
.bling-form textarea,
.bling-form .chosen-choices,
.bling-item-form {
	border: 1px solid #C9C9C9;
	border-radius: 8px;
	opacity: 1;
	height: 32px;
	width: 100%;
	margin-top: 4px;
	background-color: #FFF;
	background-image: none;
	color: #666666;
	outline: none;
	flex-shrink: 0;
	letter-spacing: 0px;
	padding-left: 16px;
	padding-right: 16px;
}

.bling-form textarea {
	padding: 8px;
	height: 100px;
}

.bling-form input:not([type="checkbox"]):not([type="radio"]):not([readonly]):not([disabled]):focus,
.bling-form select:focus,
.bling-form textarea:focus,
.bling-item-form:focus {
	border-color: #3FAF6C;
	box-shadow: 0px 2px 4px #00000029; box-shadow: var(--box-shadow);
	color: #3F3D3D; color: var(--dark-gray-font-color);
}

.bling-form input:not([type="checkbox"]):disabled,
.bling-form textarea:disabled,
.bling-item-form:disabled {
	color: #CCC; color: var(--light-gray-color);
	border: 1px solid #CCC;
	pointer-events: none;
	touch-action: none;
}

.bling-form select:disabled,
.bling-form select:disabled > option,
.bling-form input:not([type="checkbox"]):read-only,
.bling-form textarea:read-only {
	background-color: #E5E5E5;
	color: #3F3D3D; color: var(--dark-gray-font-color);
}

.bling-form input:not([type="checkbox"]):-moz-read-only,
.bling-form textarea:-moz-read-only {
	background-color: #E5E5E5;
	color: #3F3D3D; color: var(--dark-gray-font-color);
}

.bling-form input.item-form-warning,
.bling-form select.item-form-warning,
.bling-form text-area.item-form-warning,
td.form-warning,
div.form-warning input,
td.form-warning,
div.form-warning select,
div.form-warning textarea {
	box-shadow: 0px 2px 4px #00000029; box-shadow: var(--box-shadow);
	border: 1px solid #E3A541 !important;
	border: 1px solid var(--yellow-color) !important;
}

.bling-form input.item-form-error,
.bling-form select.item-form-error,
.bling-form text-area.item-form-error,
div.form-error input,
div.form-error select,
div.form-error textarea {
	box-shadow: 0px 2px 4px #00000029; box-shadow: var(--box-shadow);
	border: 1px solid #E6554E !important;
	border: 1px solid var(--red-color) !important;
}

.bling-form select,
select.bling-item-form {
	background-image: url(../../imagens/caret-down.svg);
	background-repeat: no-repeat;
	background-position: bottom 12px right 8px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	padding-right: 24px;
}

select.bling-item-form::-ms-expand {
	display: none;
}

.bling-form select::-ms-expand {
	display: none;
}

.bling-form .tree-select {
	border-radius: 8px;
}

.bling-form label,
.bling-form .input-info-text {
	text-align: left;
	font-size: 12px;
	letter-spacing: 0px;
	color: #666; color: var(--gray-font-color);
}

.bling-form .input-info-text {
	margin: 0;
}

.container-custom-fields label {
	font-weight: bold;
}

label.required:after {
	color: #E6554E;
	color: var(--red-color);
	content: " *";
}

div.disabled > label {
	color: #CCC; color: var(--light-gray-color);
}

div.form-warning > label:after,
label.form-warning:after {
	color: #E3A541 !important;
	color: var(--yellow-color) !important;
}

div.form-error > label,
div.form-error > label:after,
div.form-error > .input-info-text,
label.form-error,
.form-error.input-info-text,
label.form-error:after {
	color: #E6554E !important;
	color: var(--red-color) !important;
}

div.form-warning > label:after,
div.form-error > label:after,
label.form-warning:after,
label.form-error:after {
	font-family: 'Font Awesome 5 Free';
	content: "\F071" !important;
	font-weight: 900;
	margin-left: 8px;
}

.bling-form div.toogle-checkbox input + span {
	display: block;
	margin-left: 0;
	margin-right: 0;
	background-color: #969696;
}

.bling-form div.toogle-checkbox input:checked + span {
	background-color: #01D67C;
	background-color: var(--green-color);
}

.bling-form .label-item-form-toggle {
	margin-right: 4px;
	margin-bottom: 0;
	height: 23px;
	padding: 4.5px 0;
	float: left;
}

.bling-form .item-form-toggle .toogle-checkbox{
	height: 23px;
	width: 100px;
}

.bling-form .item-form-toggle div.toogle-checkbox span:after {
	top: 3px;
}

.item-form-toggle.fix-toggle-block > .toogle-checkbox {
	display: block;
}

.item-form-toggle.fix-toggle-block > .label-item-form-toggle {
	float: none;
}

.item-form-toggle.fix-toggle-block > .toogle-checkbox > label > span {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
}

.bling-form.ui-dialog-content {
	margin: 0;
}

.bling-form .input-checkbox input[type="checkbox"]:checked + label {
	background-color: #01D67C;
	background-color: var(--green-color);
	border: 1px solid #01D67C;
	border: 1px solid var(--green-color);
}

input:read-only + .ui-datepicker-trigger {
	pointer-events: none;
	touch-action: none;
}

.bling-form .input-checkbox input[type="checkbox"][readonly] + label {
	background-color: #E5E5E5;
	border: 1px solid #BABABA;
	border: var(--bling-form-item-border);
	pointer-events: none;
	touch-action: none;
}

.bling-form .input-checkbox input[type="checkbox"][readonly] + label::after {
	color: #666;
	color: var(--gray-font-color);
}

.bling-form .label-big {
	font-size: 16px !important;
}

.bling-form .input-big {
	font-size: 20px !important;
	height: 40px !important;
}

@media (max-width: 768px) {
	.bling-form {
		margin: 0;
	}
}

.bling-form h1 {
	color: #666;
	color: var(--gray-font-color);
	font-family: 'Gilroy-Form';
	font-family: var(--bling-form-font-family);
	font-weight: bold;
	font-size: 24px;
	margin: 0;
	letter-spacing: 0.5px;
	letter-spacing: var(--letter-spacing);
}

.bling-form .fixed h1 {
	margin-left: 16px;
}

.bling-form h3 {
	color: #666;
	color: var(--gray-font-color);
	font-family: var(--bling-form-font-family);
	font-family: 'Gilroy-Form';
	font-weight: bold;
	font-size: 16px;
	box-shadow: none;
	margin-top: 16px;
	margin-bottom: 0px;
	letter-spacing: 0.5px;
	letter-spacing: var(--letter-spacing);
}

.bling-form .required-fields-text {
	font-family: 'Arial-Form'; font-family: var(--font-family-arial);
	color: #666; color: var(--gray-font-color);
	font-size: 12px;
}

.bling-form .required-fields-text > span {
	color: #E6554E;
	color: var(--red-color);
}

.bling-form button,
.bling-button {
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #37A661;
	border-radius: 8px;
	font: normal normal normal 12px/13px Gilroy-Bold;
	letter-spacing: 0px;
	color: #37A661;
	opacity: 1;
	height: 32px;
	text-transform: capitalize;
	outline: none;
	padding: 0px 15px 0px 15px;
	width: 100%;
}

.bling-form button:hover,
.bling-button:hover {
	background-color: #E0FCF0;
}

button.call-to-action {
	border: 1px solid #37A661;
	background: #37A661 0% 0% no-repeat padding-box;
	color: #FFFFFF;
}

button.call-to-action:hover {
	background-color: #49B476;
	border-color: #49B476;
}

button.call-to-action:disabled {
	background-color: #77E2B6;
	border-color: #77E2B6;
}

.bling-form button .fas {
	font-size: 14px;
	margin-right: 12px;
}

button .fa-trash-alt {
	color: #E6554E;
	color: var(--red-color);
}

.bling-form .fa-info-circle {
	color: #239DF7;
	color: var(--bling-info-color);
	font-size: 14px;
	margin-left: 4px;
	cursor: pointer;
}

.bling-form img.ui-datepicker-trigger {
	position: absolute;
	top: 12px;
	right: 0;
	content: url(../../images/calendar.svg);
	cursor: pointer;
	margin-right: 8px;
}

.bling-form .hasDatepicker {
	padding-right: 24px;
}

button.button-default-dialog {
	font-family: Arial, Helvetica, sans-serif !important;
	margin-left: 6px !important;
	margin-right: 6px !important;
	height: 30px !important;
	font-size: 9pt !important;
	background-color: #37A661 !important;
	color: #fff !important;
	border: 0;
	border-radius: 8px !important;
	font-weight: bold !important;
	padding: 3px !important;
	text-transform: capitalize !important;
}

button.button-default-dialog:hover {
	background-color: #3FAF6C !important;
}

button.button-cancel-dialog {
	font-family: Arial, Helvetica, sans-serif !important;
	margin-left: 6px !important;
	margin-right: 6px !important;
	height: 30px !important;
	font-size: 9pt !important;
	background-color: transparent !important;
	color:  #37A661 !important;
	border: 1px solid #37A661 !important;
	border-radius: 8px !important;
	font-weight: bold !important;
	padding: 3px !important;
	text-transform: capitalize !important;
}

button.button-cancel-dialog:hover {
	background-color: #E0FCF0 !important;
}

.bling-button-new {
	border: 1px solid #37A661;
	background: #37A661 0% 0% no-repeat padding-box;
	color: #FFFFFF;
	border-radius: 8px;
	opacity: 1;
	height: 32px;
	outline: none;
	font-size: 15pt !important;
	width: 150px;
	margin: auto;
}

.bling-button-new:hover {
	background-color: #49B476;
}

.bling-button-new span {
	font: normal normal normal 12px/13px Gilroy-Bold !important;
	color: #FFFFFF !important;
	letter-spacing: 0px;
	opacity: 1;
	position: relative;
	top: -3px;
	left: 3px;
}

table.itens-list,
.table.itens-list {
	counter-reset: rowNumber -1;
	--margin-with-number: 35px;
	width: calc(100% - 35px) !important;
	width: calc(100% - var(--margin-with-number)) !important;
	font-size: 12px;
	font-family: var(--font-family-arial);
	font-family: 'Arial-Form';
	border-collapse: collapse;
	margin-left: 35px;
	margin-left: var(--margin-with-number);
	border-collapse: separate;
	border-spacing: 0px 4px;
}

table.itens-list th,
.table.itens-list .table-head,
.table.itens-list .table-heading {
	text-align: left;
	font-size: 12px;
	font-weight: normal;
	color: #666;
	color: var(--gray-font-color);
}

table.itens-list tr,
.table.itens-list .table-row {
	counter-increment: rowNumber;
	max-height: 32px;
}

table.itens-list td,
.table.itens-list .table-cell {
	border: 1px solid #BABABA;
	border: var(--bling-form-item-border);
	height: 32px;
	position: relative;
	border-left: 0;
}

.table.itens-list tfoot td {
	border: 0;
}

table.itens-list td {
	padding: 0 8px !important;
}

.table.itens-list.table-cell {
	padding: 0 8px !important;
}

#box_volumes .table .table-cell input[type="text"]{
	width: 100% !important;
	margin-left: 0 !important;
}

table.itens-list td input:not([type="checkbox"]),
.table.itens-list .table-cell input:not([type="checkbox"]),
table.itens-list td select,
.table.itens-list .table-cell select {
	padding-left: 0 8px !important;
	margin: 0 0 0 -8px !important;
	width: calc(100% + 16px) !important;
	border: 0 !important;
	border-radius: 0 !important;
	height: 100%;
	width: 100%;
	box-shadow: none;
}

table.itens-list td p {
	padding: 0;
}

table.itens-list td .input-checkbox,
table.itens-list th .input-checkbox {
	margin: 0 !important;
}

table.itens-list td:first-of-type,
table.itens-list td:first-of-type input,
.table.itens-list .table-cell:first-of-type,
.table.itens-list .table-cell:first-of-type input {
	border: 1px solid #BABABA;
	border: var(--bling-form-item-border);
	border-radius: 10px 0 0 10px !important;
}

table.sortable-list.itens-list td:first-of-type,
table.sortable-list.itens-list td:first-of-type input,
.table.sortable-list.itens-list .table-cell:first-of-type,
.table.sortable-list.itens-list .table-cell:first-of-type input {
	border: none;
}

table.sortable-list.itens-list td:nth-child(2),
table.sortable-list.itens-list td:nth-child(2) input,
.table.sortable-list.itens-list .table-cell:nth-child(2),
.table.sortable-list.itens-list .table-cell:nth-child(2) input  {
	border: 1px solid #BABABA;
	border: var(--bling-form-item-border);
	border-radius: 10px 0 0 10px !important;
}

table.itens-list td:last-of-type,
table.itens-list td:last-of-type input,
.table.itens-list .table-cell:last-of-type,
.table.itens-list .table-cell:last-of-type input {
	border-radius: 0 10px 10px 0 !important;
}

table.itens-list tr td:first-of-type::before,
.table.itens-list .table-cell:first-of-type::before {
	content: counter(rowNumber);
	width: 32px;
	left: calc(35px * -1.1);
	left: calc(var(--margin-with-number) * -1.1);
	color: #FFF;
	color: var(--white-font-color);
	text-align: center;
	background: #CCC 0% 0% no-repeat padding-box;
	background: var(--light-gray-color) 0% 0% no-repeat padding-box;
	border: 1px solid #BABABA;
	border: var(--bling-form-item-border);
	border-radius: 8px;
	height: 32px;
	padding-top: 8px;
	top: calc(50% - 16px);
	position: absolute;
	font-family: 'Gilroy-Form';
	font-family: var(--bling-form-font-family);
	font-weight: bold;
}

table.itens-list th.size-small {
	width: 60px;
}

table.itens-list th.size-medium {
	width: 120px;
}

table.itens-list th.size-large {
	min-width: 300px;
}

.bling-form table.remove-border td {
	border: none;
	height: 16px;
}

.bling-form table.remove-counters {
	width: 100% !important;
	margin-left: 0px;
	border-spacing: 0px;
}

.bling-form table.remove-counters tr td:first-child::before,
.table-list.remove-counters div::before {
	content:none !important;
}

.table-list.remove-counters .table-row,
.table-list.remove-counters .table-cell {
	max-height: unset;
	border-radius: 0 !important;
	height: auto;
}

.table-list.remove-counters .table-cell input:not([type="checkbox"]) {
	margin: 0 !important;
	width: 100% !important;
}

.bling-form td input ~ span {
	top: 0px;
}

.bling-form table td .fas,
.table .fas {
	font-size: 16px;
	position: inherit;
	right: 0;
	margin-left: 0px;
	padding: 4px;
	display: inline-block;
}

.bling-form table td .fa-trash-alt,
.bling-form .table .fa-trash-alt {
	color: #E6554E;
	color: var(--red-color);
}

.bling-form table td .fa-trash-alt:hover,
.bling-form .table .fa-trash-alt:hover {
	cursor: pointer;
}

.bling-form table td .fa-download {
	color: #93E3DB;
	color: var(--light-blue-color);
}

.bling-form table td .fa-pencil-alt {
	color: #666;
	color: var(--gray-font-color);
}

.bling-form table td span:last-of-type[class*="fas"]:after,
.bling-form table td i:last-of-type[class*="fas"]:after {
	content: "";
}

@media (max-width: 768px) {
	div.bling-form table {
		margin-left: 0px;
		width: 100% !important;
	}

	div.bling-form table tr td:first-child::before,
	div.bling-form table tr td:first-child::after {
		content: '' !important;
		width: 0px;
		left: 0px;
		top: 0;
		display: none;
	}

	.bling-form .fixed h1 {
		margin: 0;
	}
}

.bling-form .add-table-item a,
.action-link,
a.action-link,
.ui-widget-content a.action-link,
a.action-link:focus {
	font-size: 12px;
	font-family: 'Arial-Form';
	font-family: var(--font-family-arial);
	font-weight: bold;
	font-style: normal !important;
	text-decoration: none !important;
	cursor: pointer;
	color: #01D67C !important;
	color: var(--green-color) !important;
}

.action-link:hover,
.action-link:hover,
a.action-link:hover {
	color: #01D67C !important;
	color: var(--green-color) !important;
	text-decoration: underline !important;
}

.bling-form .tabela-itens {
	width: 100%;
	font-size: 12px;
	font-family: 'Arial-Form';
	font-family: var(--font-family-arial);
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #BABABA;
	border: var(--bling-form-item-border);
}

.bling-form .tabela-itens .box-sem-itens {
	padding: 5% 50px 7% 65px;
	min-height: 75px;
	text-align: center;
}

.bling-form .tabela-itens .box-sem-itens > img {
	height: 70px;
}

.bling-form .tabela-itens .box-sem-itens h3 {
	font-family: 'Gilroy-Form';
	font-family: var(--bling-form-font-family);
	font-weight: bold;
	margin-bottom: 5px;
	color: #01D67C;
	color: var(--green-color);
}

.bling-form .tabela-itens .box-sem-itens > p {
	margin-top: 0px;
	font-size: 12px;
	font-family: 'Arial-Form';
	font-family: var(--font-family-arial);
	color: #666;
	color: var(--gray-font-color);
}

.bling-form .tabela-itens th {
	background-color: #EAEAEA;
	color: #666;
	color: var(--gray-font-color);
	height: 25px;
	font-family: 'Arial-Form';
	font-family: var(--font-family-arial);
	font-weight: bold;
}

.bling-form .tabela-itens th .vertical-align-inline {
	height: 22px;
}

.bling-form .tabela-itens td .vertical-align-inline {
	height: 25px;
}

.bling-form .tabela-itens tr td {
	height: 42px;
}

.bling-form .tabela-itens tr:not(:last-child) td {
	border-bottom: solid 1px #EEE;
}

.bling-form .tabela-itens td a, .bling-form .tabela-itens td .action-link {
	word-break: break-all;
}

.bling-form .message-area .alert-box-info span {
	height: auto;
}

.bling-form div.alert-box,
.bling-form div.alert-box ul,
.bling-form div.alert-box p {
	font-family: 'Arial-Form';
	font-family: var(--font-family-arial);
	color: #3F3D3D;
	color: var(--dark-gray-font-color);
	font-size: 12px;
}

.bling-form div.alert-box h4 {
	font-family: 'Gilroy-Form';
	font-family: var(--bling-form-font-family);
	font-weight: bold;
	font-size: 16px;
	color: transparent;
	letter-spacing: 0.5px;
	letter-spacing: var(--letter-spacing);
}

.alert-box h4:before {
	color: #666;
	color: var(--gray-font-color);
}

.alert-box-warning h4:before {
	content: 'Atenção';
}

.alert-box-info h4:before {
	content: 'Informação';
}

.alert-box-success h4:before {
	content: 'Sucesso';
}

.alert-box-error h4:before {
	content: 'Erro';
}

.alert-box-info:before, .alert-mini-box-info:before {
	color: #239DF7;
	color: var(--bling-info-color);
}

.contato-rapido-icones {
	top: 12px !important;
	right: 8px !important;
}

.contato-rapido-icones i,
.contact-data .icon-pencil {
	color: #93E3DB;
	color: var(--green-color);
	padding: 0 2px;
	cursor: pointer;
	text-decoration: none;
}

.contact-data .icon-pencil {
	float: right;
	font-size: 12pt;
	margin-right: 4px;
}

.contact-data .contact-name {
	padding-left: 4px;
	width: 99%;
}

.contact-data .contact-icons {
	text-align: center;
}

.bling-form input ~ span {
	position: relative;
	top: 1px;
	color: #93E3DB;
	color: var(--green-color);
	font-size: 16px;
	cursor: pointer;
	display:flex;
	top: -24px;
	right: 8px;
	justify-content: flex-end;
	margin-left: auto;
}

.vertical-align {
	display: flex;
	align-items: center;
}

.align-input-icons {
	position: relative;
	display: flex;
	flex-flow: column;
	max-height: 40px;
}

.bling-container-tabs {
	margin-bottom: 10px;
	width: 100%;
}

.bling-tabs {
	border-bottom: 1px solid #888;
	padding: 0;
	margin-bottom: 0;
}

.bling-container-tabs ul.bling-tabs a {
	font-size: 13px;
}

.bling-container-tabs li,
.bling-tabs li {
	margin: 0;
	padding: 0;
	display: inline;
	list-style-type: none;
}

.bling-tabs a:link,
.bling-tabs a:visited,
.bling-tabs span {
	font-size: 9pt;
	padding: 4px 10px 2px 10px;
	margin-right: 0px;
	text-decoration: none;
	color: #666;
	cursor: pointer;
	line-height: 22px;
	font-family: 'Gilroy-Form';
	font-family: var(--bling-form-font-family);
	font-weight: normal;
}

.bling-tabs a:link.active,
.bling-tabs a:visited.active,
.bling-tabs span.active {
	background-color: #FFF;
	background-color: var(--background-color);
	color: #000;
	font-family: 'Gilroy-Form';
	font-family: var(--bling-form-font-family);
	font-weight: bold;
	border-bottom: 0;
	color: #37A661;
	color: var(--green-color);
	border-bottom: 4px solid var(--green-color);
	border-bottom: 4px solid #37A661;
}

ul.bling-tabs.bling-tabs__vertical {
	position: absolute;
	border-bottom: 0;
	border-right: 1px solid #888;
}

ul.bling-tabs.bling-tabs__vertical li {
	display: block;
	border-bottom: 2px solid #FFF;
	border-bottom: 2px solid var(--background-color);
}

ul.bling-tabs.bling-tabs__vertical li a:link,
ul.bling-tabs.bling-tabs__vertical li a:visited {
	padding: 16px;
	text-decoration: none;
	display: block;
	margin-right: -1px;
}

.bling-tabs.bling-tabs__vertical a:link.active {
	border-bottom: 0;
	border-right: 4px solid #01D67C;
	border-right: 4px solid var(--green-color);
}

@media only screen and (max-width: 960px) {
	#form_edicao_item_variacao div[data-id="produto_atributos"] {
		overflow-y: visible !important;
		margin-left: 0 !important;
	}

	ul.bling-tabs.bling-tabs__vertical {
		position: relative;
	}
}

.bling-accordion {
	color: #01D67C;
	color: var(--green-color);
	font-family: 'Gilroy-Form';
	font-family: var(--bling-form-font-family);
	font-weight: bold;
	font-size: 12px;
}

.bling-accordion .accordion-title {
	margin-left: 8px;
	cursor: pointer;
	float: left;
	margin-top: 14px;
}

.bling-accordion h3 {
	float: left;
}

.bling-accordion .accordion-title span {
	margin-right: 4px;
	margin-left: 4px;
	font-size: 20px;
}

/* ABAS BOOTSTRAP */
.nav-tabs>li>a {
	color: #666;
	margin-right: 0px;
	font-size: 13px;
	font-family: 'Gilroy-Form';
	font-family: var(--bling-form-font-family);
	text-decoration: none !important;
	padding: 0px 15px;
	border: 0;
}

.nav-tabs>li>a:hover:not(.active),
.nav>li>a:focus,
.bling-tabs a:hover:not(.active) {
	color: #666;
	background-color: transparent;
	border-bottom: 4px solid #666;
	font-weight: bold;
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover {
	font-family: 'Gilroy-Form';
	font-family: var(--bling-form-font-family);
	font-weight: bold;
	color: #01D67C;
	color: var(--green-color);
	border: 0;;
	background-color: transparent;
	border-bottom: 4px solid #01D67C;
	border-bottom: 4px solid var(--green-color);
}

.tab-content>.active {
	display: inherit;
}

table.itens-list.not-header {
	counter-reset: rowNumber;
}

.bling-form input.double-input {
	float: left;
	width: 48%;
}

.bling-form input.double-input:first-child {
	margin-left: 0;
}

.bling-form .container_imagens {
	width: 86px;
}

.bling-form #addImg,
.bling-form #addImgVar {
	width: 100%;
	height: auto;
	font-family: 'Gilroy-Form';
	font-family: var(--bling-form-font-family);
}

.bling-form .container_imagens #addImg {
	width: auto;
}

.bling-form #addImg .qq-upload-drop-area-dashed,
.bling-form #addImg .qq-upload-button-dashed,
.bling-form #addImgVar .qq-upload-drop-area-dashed,
.bling-form #addImgVar .qq-upload-button-dashed
{
	border: 2px dashed #01D67C;
	border: 2px dashed var(--green-color);
	height: 176px;
	border-radius: 8px;
}

.bling-form .container_imagens #addImg .qq-upload-drop-area-dashed,
.bling-form .container_imagens #addImg .qq-upload-button-dashed {
	height: auto;
}

.bling-form .thumb_produto {
	background: transparent;
}

.bling-form .legend {
	list-style: none;
	padding: 0px;
	color: #666;
}

.bling-form .legend li {
	padding-left: 4px;
	margin-bottom: 4px;
}

.bling-form .legend li span {
	width:15px;
	border: 1px solid;
	display: inline-block;
}

.bling-form .produto-variacao {
	display: none;
}

.bling-form .produto-variacao {
	display: none;
}

#form_edicao_item_variacao .produto-variacao {
	display: inline-block;
}

.external-link,
.ui-widget-content a.external-link,
.external-link:hover {
	font-family: 'Arial-Form';
	font-family: var(--font-family-arial);
	text-decoration: none !important;
	font-weight: bold;
	font-size: 12px;
	color: #05AAE9;
	text-decoration: none;
}

.external-link:hover {
	text-decoration: underline !important;
}

.external-link:before {
	font-family: 'Font Awesome 5 Free';
	content: "\f35d";
	margin-right: 4px;
}

.chosen-container-single,
.chosen-container-multi {
	width: 100% !important;
}

.chosen-container-single .chosen-single,
.chosen-container-active.chosen-with-drop .chosen-single {
	margin-top: 4px;
	height: 32px;
	line-height: 32px;
	background: #FFF;
	box-shadow: transparent !important;
	border: 1px solid #CCC;
}

.chosen-container-single .chosen-single div b {
	background-position-y: 4px;
}

.bling-form .chosen-container-active .chosen-choices {
	border: 1px solid #3FAF6C;
	box-shadow: 0 0 0;
}

.bling-form .chosen-results .group-option:hover {
	background-color: none;
}

.bling-form .chosen-results li:hover {
	background-color: #01D67C;
	background-color: var(--green-color);
}

.bling-form .chosen-container .chosen-results .highlighted {
	background-color: #01D67C;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#01D67C, endColorstr=#01D67C, GradientType=0);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #01D67C), color-stop(90%, #01D67C));
	background-image: -webkit-linear-gradient(top, #01D67C 20%, #01D67C 90%);
	background-image: -moz-linear-gradient(top, #01D67C 20%, #01D67C 90%);
	background-image: -o-linear-gradient(top, #01D67C 20%, #01D67C 90%);
	background-image: -ms-linear-gradient(top, #01D67C 20%, #01D67C 90%);
	background-image: linear-gradient(top, #01D67C 20%, #01D67C 90%);
	color: #FFF;
}

label + a.action-link.link-right,
label + a.external-link.link-right,
label + .fa-info-circle + a.action-link.link-right,
label + .fa-info-circle + a.external-link.link-right {
	float: right;
}

.bling-form .conta-caracteres-display {
	bottom: 6px;
}

#form_edicao_item_variacao .mdc-layout-grid__cell--span-12 {
	grid-column-end: span 8;
}

#form_edicao_item_variacao .mdc-layout-grid__inner {
	grid-template-columns: repeat(8, minmax(0, 1fr));
}


.input-radio input[type="radio"] + label:before {
	box-shadow: 0 0 0px 2px #999 !important;
}

.input-radio input[type="radio"]:checked + label:before {
	background-color: #01D67C !important;
	background-color: var(--green-color) !important;
	box-shadow: 0 0 0px 2px #01D67C !important;
	box-shadow: 0 0 0px 2px var(--green-color) !important;
}

.bling-form td .input-radio input[type="radio"] + label:before {
	margin: 2px 0px -2px 0px !important;
	margin-right: 0px !important;
}

#mensagem .container-fluid {
	padding: 0;
}

.vertical-align-inline.checkbox-middle {
	padding-top: 16px;
}

/* GRID  */
.mdc-layout-grid__inner {
	padding-bottom: 0 !important;
}
.mdc-layout-grid > .mdc-layout-grid__inner {
	padding-bottom: 100px !important;
	padding-bottom: var(--fixed-bar-height, 0px) !important;
}

@media screen and (max-width: 850px) {
	#edicao {
		padding-left: 0px !important;
	}

	.fixed-bar-auto-height {
		height: auto !important;
	}
}

.align-buttons {
	text-align: right;
}

.align-buttons button {
	display: inline-block;
	width: 25%;
	margin-left: 8px;
}

.align-buttons button.display-none {
	display: none;
}

.mce-btn button {
	width: auto;
}

.mce-btn button + button {
	border: 0;
}

.mce-btn:hover, .mce-btn:active {
	border-color: transparent !important;
}

@media screen and (max-width:767px) {
	.vertical-align-inline {
		display: inline-flex !important;
	}
}

@media (max-width: 839px) {
	.mdc-layout-grid__cell--span-8-tablet .checkbox-middle,
	.mdc-layout-grid__cell--span-4-phone .checkbox-middle {
		padding-top: 0;
	}
}

input.hasDatepicker::-webkit-calendar-picker-indicator {
	display: none;
}

.search-lupe {
	right: 3px;
	position: absolute;
	top: 12px;
	margin-right: 4px;
}

/* Módulo Vendas */
.bling-form table td input:not([type="checkbox"]).editgrid.preco-abaixo {
	background-color: #FFFFCF;
}
/* Fim Vendas */

.loading-xs {
	border-top: 2px solid #CCC;
    border-right: 2px solid #CCC;
    border-bottom: 2px solid #777;
    border-left: 2px solid #777;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	-webkit-animation: loading 1.2s infinite linear;
    -moz-animation: loading 1.2s infinite linear;
    -ms-animation: loading 1.2s infinite linear;
	animation: loading 1.2s infinite linear;
	display: inline-block;
}

.bling-form.ui-dialog-content {
	padding: 8px !important;
}

.bling-form fieldset {
	padding: 4px !important;
	margin-bottom: 8px;
}

.ico-logistica.cinza {
	background-position-x: 4px;
	padding: 5px 4px 4px 21px;
	width: auto;
	height: auto;
	background-size: 15px;
	margin-right: 0;
}

#toggle-cotacao span, #toggle-ar span, #toggle-mp span {
	position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
}

#formRequisitosCotacao .toogle-checkbox {
	display:block;
}

#toggle-cotacao .toogle-checkbox {
	margin-top : 15px;
}

.div-btnGroup {
	background: rgb(237, 241, 244);
	padding: 5px !important;
    border-radius: 8px;
}

.page-title {
	font: normal normal normal 24px/34px Gilroy-Bold;
	letter-spacing: 0px;
	text-align: left;
	color: #666666;
	opacity: 1;
	margin-top: 50px;
	margin-left: 50px;
}

.div-btnGroup button {
	font-family: arial;
	font-size: 10px;
	border:none;
	background: none;
}

.div-btnGroup .div-btnGroup-checked {
	background-color: var(--background-color);
	border: 1px solid;
	border-radius: 8px;
	border-color: var(--green-color);
	transition-property:  border, background-color;
  	transition-duration: 0.1s;
	transition-delay: 0.1s;
}

.div-btnGroup button:focus {
	outline:none;
}

.stage-zero {
	text-align: center;
	border: 5px dashed #FFFFFF;
	border-radius: 8px;
	margin: 2%;
	justify-content: center;
    display: flex;
    align-items: center;
	min-height: 400px;
	position: absolute;
	height: calc(90vh - 160px);
	right: 20px;
	left: 20px;
	min-width: 350px;
}

.stage-zero > :first-child {
	position: absolute;
	display: grid;
	height: 320px;
}

.stage-zero h4 {
	text-align: center;
	font: normal normal normal 15px/21px Gilroy-Bold;
	letter-spacing: 0px;
	color: #37A661;
	opacity: 1;
}

.stage-zero span {
	font-size: 12px;
	color: #666666;
	line-height: 1.7;
}

.stage-zero label {
	text-align: left;
	font: normal normal normal 12px/13px Gilroy-Bold;
	letter-spacing: 0px;
	color: #FFFFFF;
	opacity: 1;
	margin: 3%;
}

.stage-zero a {
	text-align: left;
	font: normal normal bold 12px/14px Arial;
	letter-spacing: 0px;
	color: #05AAE9;
	opacity: 1;
}

.card-board .card-div {
	float: left;
}

.card-div,
.card-div-wide {
	border-radius: 8px;
	padding: 10px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	text-decoration: none;
	position: relative;
	opacity: 1;
}

.card-div {
	margin: 0px 24px 32px 0px;
	border: 1px solid #D0D0D0;
	box-shadow: 0px 3px 6px #00000029;
	cursor: pointer;
	text-align: center;
	display: grid;
}

.card-div-wide {
	margin: auto;
	border: 1px solid #CCCCCC;
	width: 290px;
	height: 80px;
	align-items: center;
	text-align: left;
	display: flex;
}

.card-div:focus {
	color: #7B7B7B
}

.card-div:hover {
	background-color: #E8E8E8;
	border: 1px solid #E8E8E8;
}

.card-div > * {
    cursor: pointer;
}

.card-div input {
	display: none;
}

.card-div label,
.card-div-wide label {
	color: #666666;
	font-weight: 600 !important;
	font-family: Gilroy-Regular, sans-serif, arial, sans-serif !important;
	white-space: normal;
	letter-spacing: 0px;
	font-size: 13px;
	opacity: 1;
}

.card-div .circle {
    display: inline-block;
}

.card-div-wide div {
	display: inline;
	margin-left: 25px;
}

.selected-card {
	border: 1px solid #37A661;
	cursor: default;
}

.selected-card:hover {
	border: 1px solid #37A661;
	background-color: #FFFFFF;
}

.selected-card > * {
	cursor: default;
}

.card-div .selected-icon {
	color: #37A661;
	font-size: 20pt;
	border: none;
	background: none;
	outline: none;
	font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.card-div .selected-icon:before {
	content: "\f058";
}

.steps-config {
	position: absolute;
	bottom: 0;
	min-width: 350px;
}

.steps-config h2 {
	letter-spacing: 0px;
	color: #666666;
	opacity: 1;
	margin-bottom: 16px;
	font: normal normal normal 24px/34px Gilroy-Bold;
}

.steps-config h3 {
	text-align: left;
	font-family: Gilroy-Bold, sans-serif, arial, sans-serif;
	letter-spacing: 0px;
	color: #34DB80;
	opacity: 1;
}

.steps-config h4 {
	font: normal normal normal 16px/22px Gilroy-Bold;
	letter-spacing: 0px;
	color: #666666;
	opacity: 1;
	margin-bottom: 16px;
}

.steps-config h6 {
	font: normal normal normal 12px/20px Gilroy-Medium;
	letter-spacing: 0px;
	color: #7B7B7B;
	opacity: 1;
	border: none;
}

.steps-config p {
	font-family: Gilroy, sans-serif, arial, sans-serif;
	letter-spacing: 0px;
	color: #666666;
	opacity: 1;
	padding: 0px 0px 8px 0px;
	font-size: 14px;
}

.steps-config > div {
	padding: 24px 32px 24px 32px;
	width: 100%;
	float: left;
}

.steps-config hr {
	width: 100%;
	border: 1px solid #C2C2C2;
	opacity: 1;
}

.steps-config button {
	width: auto;
}

.controls-config {
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 0px 6px #00000029;
	opacity: 1;
	height: 75px;
	position: absolute;
	bottom: 0;
}

.steps-progression {
	width: 205px;
	margin: auto;
}

.steps-progression tr:first-of-type {
	background: transparent linear-gradient(90deg, #0CD782 0%, #B3BDB9 48%, #BCBCBC 100%) 0% 50% no-repeat padding-box;
	background-size: 100% 1px;
	margin: 0px 30%;
	height: 40px;
}

.steps-progression-active,
.steps-progression-previous,
.steps-progression-next {
	opacity: 1;
	width: 19px;
	height: 19px;
	padding-top: 9px;
	font: normal normal normal 10px/36px Gilroy-Bold;
}

.steps-progression-active,
.steps-progression-previous {
	color: #FFFFFF;
	background: #37A661 0% 0% no-repeat padding-box;
}

.steps-progression-next {
	color: #C9C9C9;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #C9C9C9;
}

.steps-progression span {
	border-radius: 50%;
	display: inline-block;
	line-height: 0;
	text-align: center;
	margin: 0px;
	margin-left: -1px;
	margin-right: -1px;
}

.green-box {
	background: #F2FAF8 0% 0% no-repeat padding-box;
	opacity: 1;
	padding: 40px;
}

.complete-step {
	padding-top: 60px;
	display: grid;
	grid-gap: 20px;
	text-align: center;
	letter-spacing: 0px;
	opacity: 1;
}

.complete-step h2 {
	font: normal normal bold 22px/20px Arial;
	color: #37A661;
	margin: 0;
}

.complete-step h4 {
	font: normal normal normal 14px/24px Arial;
	color: #666666;
	margin-bottom: 0;
}

.hightlighted-text {
	color: #3FAC6D;
}

.input-symbol-currency,
.input-symbol-currency-big {
	position: relative !important;
}

.input-symbol-currency input {
	padding-left: 30px !important;
}

.input-symbol-currency-big input {
	padding-left: 40px !important;
}

.input-symbol-currency:after,
.input-symbol-currency-big:after {
	position: absolute;
	transform: translateY(-50%);
	content: "R$";
	left: 10px;
	color: #666666;
}

.input-symbol-currency:after {
	top: 50%;
	font: normal normal normal 12px/18px Arial;
}

.input-symbol-currency-big:after {
	top: 25%;
	font: normal normal normal 20px/18px Arial;
}

.cursor-pointer {
	cursor: pointer;
}

.hyperlink-button {	
	text-decoration: none;
	color: #37A661;
	opacity: 1;
	font: normal normal bold 13px/18px Arial;
	margin-right: 3px;
	margin-left: 3px;
	letter-spacing: 0px;
	text-align: left;
}

.hyperlink-button:hover {
	text-decoration: underline;
	color: #01D67C;
}

@media screen and (max-width: 900px) {
	.steps-config {
		left: 0;
		right: 0;
	}
	.mostrar {
		display: none;
	}
}

@media screen and (min-width: 900px) {
	.steps-config {
		left: 32px;
		right: 32px;
	}
	.mostrar {
		display: block;
	}
}