@media screen and (max-width:1200px) {
     .centraliza-videos .box-link {
      padding-right: 0 !important;
    }

     .aviso-usuario-suporte{
        width: 100%;
    }

    .box-central-ajuda #collapse-link {
        margin-top: 20px;
        margin-left: 15px;
    }
    .md-border-top {
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px solid #ccc;
    }
    .md-centralize {
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: both;
        display: block;
        padding-right: 2px;
        text-align: center;
    }
    #integracao_automatica .md-centralize .col-md-5 {
        width: 100%;
    }
    .md-centralize .item-form-toggle{
        text-align: left
    }

    .release-info div:first-of-type[class^="release-item"] {
        margin-left: 125px !important;
    }
}

@media screen and (min-width:1200px) {
    #aNovaLinhaItem.has-shortcut:after, #aNovaLinhaItemPecas.has-shortcut:after  {
        content: ' (' attr(data-shortcut) ')';
        text-transform: capitalize;
    }
    .lg-border-left{
        border-left: 1px solid #ccc;
    }

    #menu-novo li ul:first-of-type {
        left: -13px;
    }
}

@media (max-width:1390px) {
    .containerFollowups {
      margin-bottom: 290px !important;
    }
}


@media screen and (min-width: 768px) {
    #toggle_reajuste > div:not(:last-child) {
        padding-right: 0;
    }
    #toggle_reajuste .fieldset-4 {
        position: absolute;
    }
    .value-column {
        text-align: right;
        padding-right: 0px !important;
    }
    .tabela-listagem .col-situacao {
        text-align: center;
    }

    #header-list {
        min-height: 69px;
    }

    .no-search #header-list {
        min-height: auto;
    }
}

@media screen and (max-width:1024px) {

    .box-side {
        width: 200px;
    }
    #container {
        padding-right: 200px;
    }

    #container.filter-left {
        padding-right: 235px;
    }

    .box-content-center h2 {
        width: 580px;
    }

    #error-messages {
        width: 640px;
    }

    .linha_form_texto {
        text-align: left !important;
    }

    #divResponderContainer #divResponder{
      right: 197px;
    }

    .top-search-scroll {
        width: calc(100% - 200px);
    }
    .menu-dados-empresa{
      height: 100vw;
    }

    #reajuste_precos {
        width: calc(100% - 200px);
    }

    /* ERRO 500 */
    #card-error-500 {
        max-width: 90%;
        max-height: 720px;
        display: block;
        min-height: 640px;
        text-align: center;
        padding: 10px 10px;
        min-width: auto;
    }

    #card-error-500 #left-container {
        height: auto;
        width: 100%;
    }

    #card-error-500 #right-container {
        height: auto;
        width: 100%;
    }

    #card-error-500 #right-container .t-cell > div {
        max-width: none;
        height: auto;
    }

    #card-error-500 .btn-tentar-container span {
        display: block;
    }

    #card-error-500 #logo-small {
        float: none;
        position: relative;
        top: 30px;
    }
    /* fim ERRO 500 */

}

@media screen and (max-width:900px) {
    .quick-access {
        display: none;
    }

    #toggle_reajuste .fieldset-2 legend:after {
        content: "";
    }

    #content-filter-modal .form-group > div:not(#filtro-dinamico):not(.input-group):not(.tree-select):not(.has-arrows):first-of-type {
        margin-bottom: 15px;
    }

    div.card-group {
        flex-flow: column;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    :not(.card-group) + .card-group {
        margin-top: 15px;
    }

    .card-group div.card-exclusao {
        margin-bottom: 30px;
        width: 100%;
    }

    div.card-exclusao > div:nth-child(2) {
        margin-left: 5px;
        margin-right: 5px;
        width: 100%;
    }

    .release-info div:first-of-type[class^="release-item"] {
        margin-left: 15px !important;
    }

    div.release-item.flex-end div:first-of-type {
        margin-left: 0px;
    }

    div.release-item span.cancel-release {
        display: block;
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    .preferencias .certificado-digital-configuracoes #status-certificado .button-default-novo {
        width: 150px;
    }
    .md-border-top {
        margin-top: 0px;
        border-top: none;
    }
    .sm-border-top {
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px solid #ccc;
    }
    .sm-centralize {
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: both
    }
}

@media screen and (max-width: 767px) {
    .search > #search-input {
        width: 53% !important;
    }
    .is-datalist .tabela-listagem:not(.no-mobile) td {
        display: inline-block;
        width: 50%;
        padding: 1px 10px 3px 0px !important;
        height: auto;
        position: relative;
    }

    .is-datalist .tabela-listagem th .input-checkbox {
        margin-left: 0px;
    }

    .tabela-listagem .col-descricao {
        width: 70% !important;
    }

    #lista #datatable .tabela-listagem tr,
	#lista [id^="addDatatable"] .tabela-listagem tr,
	.datatable .tabela-listagem tr {
        padding: 8px 43px 6px 29px;
        height: auto !important;
        position: relative;
        width: 100%;
        clear: both;
        min-height: 32px;
        display: block;
    }

    .spacer > span {
        color: #0073B7;
    }

    .is-datalist #datatable {
        margin-top: 35px;
    }

    table.tabela-listagem span.fas {
        float:none !important;
        display: inline-block;
    }

    #lista #datatable .tabela-listagem td,
    #lista [id^="addDatatable"] .tabela-listagem td {
        word-break: break-word;
    }

    #relatorio tr td, #datatable tr td, .datatable tr td {
        line-height: 11px;
    }

    #lista #datatable .tabela-listagem thead tr,
    #lista [id^="addDatatable"] .tabela-listagem thead tr {
        padding: 0px;
    }

    .tabela-listagem thead tr th .input-checkbox {
        position: absolute;
        left: 5px;
        top: 3px;
    }

    .tabela-listagem thead tr th:first-child{
        width: 100% !important;
        display: block;
    }

    .tabela-listagem td.checkbox-item {
        width: auto;
        position: absolute !important;
        left: 5px;
        top: 5px;
    }
    .tabela-listagem .no-checkbox td:first-child {
        width: auto;
        position: relative !important;
        left: 0;
        top: 0;
    }

    #filter-button-area {
        margin-top: 22px;
    }

    .table-label {
        font-weight: bold;
        display: inline-block !important;
        margin-right: 3px;
    }

    .tabela-listagem td:first-child .table-label {
        margin-left: 0px;
    }

    .tabela-listagem tr td.context-menu-item{
        text-align: right;
        position: absolute !important;
        top: calc(50% - 12px);
        right: 0px;
        width: 50px;
    }

    .tabela-listagem .col-situacao {
        text-align: left;
    }

    .tabela-listagem .col-padrao span.table-label {
        margin: 0;
    }

    #datatable table tbody tr td div.input-checkbox {
        padding-left: 0px !important;
    }

    table.tabela-listagem span.far.fa-clock {
        margin-right: 5px !important;
    }

    div.common-action-container button {
        border-radius: 0px;
    }

    div.common-action-container button:not(:first-of-type) {
        margin-left: 5px;
        margin-right: 3px;
    }

    div.search-bar .search-filter-action {
        margin-left: 5px;
    }

  .release-item {
        width: 17%;
        margin-right: 20px !important;
    }

    .release-item.flex-end {
        display: block;
    }

   #liberarModulos {
        position:relative;
        top:10px;
    }
    .col-xs-3 {
        width: 50%;
    }
    #lista #datatable .tabela-listagem .bc-titulo,
    #lista #datatable .tabela-listagem .bc-modulo {
        width:100%;
        margin-bottom: 5px;
    }
    #lista #datatable .tabela-listagem .bc-situacao {
        margin-bottom: 5px;
        display: inline;
        margin-right: 10px;
    }
    #lista #datatable .tabela-listagem .bc-icon-button {
        display: inline;
    }
}

@media screen and (max-width:850px) {
    #lateral-info {
        position: fixed;
        left: -230px;
        top: 35px;
    }

    #lateral-info.open {
        position: fixed;
        z-index: 150;
        left: 0;
        box-shadow: 1px 12px 10px 7px rgba(0,0,0,0.32);
        webkit-box-shadow: 1px 12px 10px 7px rgba(0,0,0,0.32);
        moz-box-shadow: 1px 12px 10px 7px rgba(0,0,0,0.32);
    }

    #edicao {
        padding-left: 25px;
    }

    #titulo {
        visibility: visible;
        display: block;
    }

    #divResponderContainer #divResponder {
        position: fixed;
        display: block;
        bottom: 0;
        left: 20px;
        margin-bottom: 20px;
    }

    #icone-abre-side-left {
        visibility: visible;
        display: block;
        position: relative;
        left: -5px;
        top: 230px;
    }

    #toggle-lateral-info {
        width: 20px;
        height: 100%;
        position: fixed;
        left:0;
        top: 35px;;
        z-index: 200;
    }

    #toggle-lateral-info.open {
        left: 230px;
        z-index:200;
    }

    .wh1, .wh2, .wh3, .wh4, .wh5, .wh6, .wh7, .wh8,  .w9,
    .wh10, .wh11, .wh12, .wh13, .wh14, .wh15, .wh16, .wh17, .wh18, .wh19,
    .wh20, .wh21, .wh22, .wh23, .wh24, .wh25, .wh26, .wh27, .wh28, .wh29,
    .wh30, .wh31, .wh32, .wh33, .wh34, .wh35, .wh36, .wh37, .wh38, .wh39,
    .wh40, .wh41, .wh42, .wh43, .wh44, .wh45, .wh46, .wh47, .wh48, .wh49,
    .wh50, .wh52, .wh53, .wh55, .wh56, .wh57, .wh58,
    .wh60, .wh61, .wh62, .wh63, .wh64, .wh65, .wh66, .wh67, .wh68, .wh69,
    .wh70, .wh75, .wh78, .wh79,
    .wh80, .wh83, .wh84, .wh85, .wh88,
    .wh90, .wh92, .wh95, .wh97, .wh98, .wh99,
    .wh100,.xs-wh100 {
        width: 100%;
    }
    .search-bar {
		top: 20px;
	}
    .w70, .w60, .w54, .w50, .w40, .w35, .w36, .w33, .w30, .w28, .w26, .w25, .w23, .w21, .w20, .w18, .w16, .w15,
    .w12, .w11, .w10, .w8, .w7, .w6, .w5, .w4, .w3, .w2, .w1 {
        width: 100% !important;
    }

    .col-10 {
        width: 100%;
    }

    .quick-access {
        display: none;
    }

    .card {
        margin-right: 0;
        padding: 0px 5px;
        width: 100%;
    }

    .card-resumo-diario {
      width: 282px;
    }

    .home-espaco {
      width: 370px;
      max-width: 100%;
    }

    .home-banners img {
        width: 100%;
    }

    #cards {
        padding: 25px;
        justify-content: center;
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: center;
    }

    .home-footer {
        display: none;
    }

    .search-filter-action {
        width: auto;
    }

    .boxy-inner {
        overflow: scroll;
        margin-top: 40px;
        display: block;
        height: 90vh;
    }

    .boxy-inner #window-content {
        overflow: scroll;
        max-height: 85%;
        height:90vh;
    }

    .boxy-content {
        padding: 10px 20px 10px;
        width: 95% !important;
        height: auto;
    }
    .boxy-wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .boxy-wrapper tbody {
        text-align: center;
        background-color: #FFF !important;
    }
    .boxy-wrapper.fixed {
        position: fixed !important;
        z-index: 1000;
        height: auto;
        top: 0px !important;
    }

    .boxy-wrapper .title-bar {
        position: inherit;
        padding: 0px 6px 0px 6px;
    }

    .boxy-wrapper .title-bar h2 {
        min-width: 200px;
        position: absolute;
        top: 15px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .boxy-wrapper .title-bar .close {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    #div_projeto_comentario .comentario-buttons {
        width: auto !important;
    }

    #div_projeto_comentario input[type="button"] {
        margin-left: 0 !important;
    }

    #tags-area .tags_coluna {
        width: auto !important;
    }

    .boxy-inner td {
        text-align: left;
        float: left;
    }

    .boxy-inner textarea {
        width: 80%;
    }

    .fields th {
        width: 100%;
    }

    .fields td {
        width: 100%;
    }

    #datatable {
        overflow: auto;
    }

    .filter-left #datatable {
        overflow: initial;
    }

    /*LAYOUT*/
    #main-container {
        margin-top: -6px;
    }

    #top-container {
        display: none;
    }

    #footer-container {
        right: 0;
    }

    .box-side-oculta {
        display: none;
        background: #FFF;
    }

    .right-bar {
        z-index: 100;
        position: fixed;
        height: 100%;
        top: 0;
        left: 0;
    }

    .box-content .top-search {
        min-height: 0;
        top:30px;
        width: 100%;
    }

    .top-search #search {
        margin-top: 10px;
    }

    .box-content .top-search {
        right: 0;
    }

    #menu-container {
        right: 0;
    }

    #container {
        clear: both;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0 0px 0 0 !important;
        text-align: left;
        min-width: 320px;
    }

    .titulo-home {
        display: block;
    }

    .titulo-det {
        text-indent: 0px;
        width: 100%;
    }

    /* MENU PRINCIPAL */
    #menu-container {
        text-align: left;
        width: 147px;
        background-image: none;
        padding: 0;
        margin-top: 0px;
        left: -170px;
        z-index: 100000;
        height: 100%;
        border-right: 0px solid #6d9004;
        webkit-box-shadow: 1px 2px 10px 7px rgba(0,0,0,0.32);
        moz-box-shadow: 1px 2px 10px 7px rgba(0,0,0,0.32);
        box-shadow: 1px 2px 10px 7px rgba(0,0,0,0.32);
    }

    #menu-container .jd-container ul{
        border-right: 0px solid #6d9004;
    }

    .right-jd {
        border-top: 1px solid black;
    }

    ul#menu_novo .icon {
        display: none;
    }

    ul#menu_novo li ul {
        z-index: 9999;
        position: absolute;
        width: auto;
        max-height: 300px;
        overflow-y:auto;
        overflow-x:hidden;
        margin-left: 1px;
        width: 100%;
    }

    ul#menu_novo li ul li {
        width: 100%;
        line-height: inherit;
        border-bottom: 1px solid #e2e2e2;
    }

    #menu-container .jd-container li{
        width: 100%;
    }

    ul#menu_novo li.home {
        height: 40px !important;
    }

    #menu_novo > li {
        text-align: left;
        height: 40px;
        padding-top: 8px;
    }

    #menu_novo li a:hover{
        padding: 0;
    }

    #menu_novo li ul li a {
        padding: 5px;
    }

    #menu_novo li ul li a:hover {
        padding: 5px;
    }

    #menu_novo li:hover ul {
        display: block;
        left: 147px;
        top: 0;
        border: 1px solid #00b268;
        padding: 0;
    }

    #menu-container .top-jd {
        float: right;
        position: initial;
        text-align: left;
        border-top: 1px solid #FFF;
    }

    #menu-container .top-jd ul {
        padding: 0;
        display: block;
        text-align: left;
        border-right: 0px solid #00b268;
        border-bottom: 0px solid #00b268;
    }

    #menu-container .top-jd li {
        width: 100%;
    }

    #menu-container .top-jd li a {
        height: 40px;
        padding-top: 8px;
    }

    #menu-container .top-jd li a:hover {
        background-color: #00b268;
        color: #FFF;
        text-decoration: none;
        height: 40px;
    }

    #menu-container .top-jd .menu-botao a {
        background-color: #FFF;
        height: 40px;
        padding-top: 8px;
        color: #000 !important;
    }

    #menu-container .top-jd .menu-botao a:hover {
        background-color: #00b268;
        color: #FFF !important;
        text-decoration: none;
        height: 40px;
    }

    .faixa-verde-top {
        display: block;
    }

    .btn-box-menu {
        display: block;
        position: inherit;
        background: none;
        border: none;
        height: auto;
        margin-top: 5px;
    }

    .btn-box-side {
        display: block;
        float: right;
        position: inherit;
        background: none;
        border: none;
        margin-top: 5px;
        margin-right: 20px;
    }

    .btn-box-side a,
    .btn-box-menu a {
        color: #6F6F6F;
    }

    #content div.titulo,
    .content div.titulo,
    .box-content .titulo {
        display: block;
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        margin: 0;
        padding-left: 15px !important;
        padding-top: 10px !important;
        background-color: #FFF;
        height: 35px;
    }

    #content div.titulo > span,
    .content div.titulo > span,
    .box-content .titulo > span {
        margin-left: 30px;
    }

    .titulo {
        width: 100%;
    }

    .titulo span:not(.ui-icon):not(.ui-button-text):not(.titleEmpresaText):not(.titleUserText) {
      width: calc(100% - 140px);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
    }

    #content .myAccountBtn{
        top: 5px;
        right: 5px;
        line-height: initial;
    }

    #contaBox a{
        text-decoration: none;
    }

    .top-search #mini-pesquisa input.pesquisa,
    .top-search #pesquisa-mini,
    .top-search #pesquisa,
    .top-search .pesquisa {
        width: 100%;
    }

    .top-search #mini-pesquisa {
        width: 100% !important;
    }

    .top-search #mini-pesquisa .left-align:nth-child(1) {
        width: 44%;
    }

    .top-search #mini-pesquisa .left-align:nth-child(3) {
        /*width: 15%;*/
    }

    .box-content #base {
        padding: 0 20px 40px 20px;
    }

    #tabnav {
        height: auto;
    }

    .pleasewait {
        position:fixed;
        top: 50%;
        left: 50%;
    }

    .btn-add {
        width: auto !important;
        height: 28px !important;
        background-color: #3FAF6C !important;
        padding: 0px 10px 0px 10px;
    }

    .btn-add:active,
    .btn-add-novo:active {
        background-color: #3FAF6C !important;
    }

    .btn-add-novo {
        height: 30px;
        padding: 0 16px 0 16px;
        margin-left: 10px;
    }

    /*TEXT*/
    .input_text {
        height: 32px;
        padding: 8px;
        border-radius: 3px;
    }

    .input_text:focus {
        background: #fff;
    }

    .input_textarea {
        padding: 8px;
        border-radius: 3px;
    }

    .input_textarea:focus{
        background: #fff;
    }

    .qq-upload-button{
        background: #49B776;
    }

    .qq-upload-button:hover{
        background: #49B776;
    }

    .button-default,.answers input,.ui-dialog-buttonset button.button-default, input.button-default {
        color: #fff;
        cursor: pointer;
        font-size: 9pt;
        height: 30px;
        margin: 0 2px 0 2px;
        border: 0;
        background: #49B776;
        border-radius:4px;
        text-transform:uppercase;
        webkit-appearance: none;
        min-width:110px;
        font-family: 'Verdana', sans;
        font-weight:normal;
    }
    .button-default:hover{
        background: #49B776;
    }
    .button, .button[readOnly] {
        cursor: pointer;
        font-size: 8pt;
        height: 30px;
        min-width: 110px;
        margin: 0 5px 0 2px;
        border: 0;
        color:#fff;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6d7987+0,4c505e+100 */
        background: rgb(109,121,135); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(109,121,135,1) 0%, rgba(76,80,94,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,121,135,1)), color-stop(100%,rgba(76,80,94,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(109,121,135,1) 0%,rgba(76,80,94,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(109,121,135,1) 0%,rgba(76,80,94,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(109,121,135,1) 0%,rgba(76,80,94,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(109,121,135,1) 0%,rgba(76,80,94,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d7987', endColorstr='#4c505e',GradientType=0 ); /* IE6-9 */
        border-radius:4px;
        text-transform:uppercase;
        webkit-appearance: none;
        font-family: 'Verdana', sans;
    }

    .button:hover,.button:focus, .button:focus[readOnly] {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6d7987+0,212128+100 */
        background: rgb(109,121,135); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(109,121,135,1) 0%, rgba(33,33,40,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,121,135,1)), color-stop(100%,rgba(33,33,40,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(109,121,135,1) 0%,rgba(33,33,40,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(109,121,135,1) 0%,rgba(33,33,40,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(109,121,135,1) 0%,rgba(33,33,40,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(109,121,135,1) 0%,rgba(33,33,40,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d7987', endColorstr='#212128',GradientType=0 ); /* IE6-9 */
        color:#fff;
        border:0;
    }

    #listaMenu {
        position: absolute;
        z-index: 5000;
        left: 50%;
        top: 10%;
        margin-left: -95px;
    }

    .listaMenu {
        text-align: left;
        padding: 5px !important;
        border: 0px !important;
        webkit-box-shadow: 3px 5px 14px 0px rgba(26, 42, 95, 0.43);
        moz-box-shadow: 3px 5px 14px 0px rgba(26, 42, 95, 0.43);
        box-shadow: 3px 5px 14px 0px rgba(26, 42, 95, 0.43);
        border: 1px solid #ddd !important;
        webkit-border-radius: 0px;
        moz-border-radius: 0px;
        border-radius: 0px;
        width: 180px !important;
    }

    .listaMenu li {
        border: 1px solid #FFF !important;
        margin-top: 1px !important;
        margin-bottom: 1px !important;
        padding: 10px 2px !important;
        color: #7F8790 !important;
        cursor: pointer !important;
        font-size: 13px;
        letter-spacing:-0.8px;
    }

    .listaMenu li:hover {
        background-color: #DEE4EA !important;
        border: 1px solid #DDD !important;
        padding: 10px 2px !important;
        color: #7F8790;
    }

    .listaMenu li img,
    .listaMenu li span {
        margin-right: 2px !important;
    }

    .listaMenu .separador {
        padding: 0px !important;
        background: #FFF !important;
        margin-top: 0px !important;
        margin-bottom: 3px !important;
        height: 1px;
        border-bottom: 1px solid #DDD !important;
        border-top: 0px !important;
        border-left: 0px !important;
        border-right: 0px !important;
    }

    .listaMenu .separador:hover {
        padding: 0px !important;
        background: #FFF !important;
        margin-top: 0px !important;
        margin-bottom: 3px !important;
        height: 1px;
        border-bottom: 1px solid #DDD !important;
        border-top: 0px !important;
        border-left: 0px !important;
        border-right: 0px !important;
    }

    .hidden-mobile {
        display: none !important;
    }

    .shadow-bottom {
        display: none;
    }
    .todos h2 {
        width: 100%;
        z-index: 1;
    }

    .mce-panel {
        width: 100% !important;
    }

    .campo-cfg {
        width: 100% !important;
    }

    textarea {
        width: 100% !important;
    }

    .box-content-center {
        padding: 100px 10px 40px 190px;
    }

    .box-side-left {
        border-right: 1px solid #ccc;
        height: 100%;
        padding: 0;
        position: fixed;
        top: 50px;
        width: 180px;
    }
    .box-content-center h2 {
        left: 181px;
    }

    .box-insert {
        padding: 5px !important;
    }

    .box-insert span {
        width: 98%;
    }

    table#tabelalancamentos thead {
        display: none;
    }

    table#tabelalancamentos tr {
        margin-bottom: 20px;
        display: block;
        border-bottom: 2px solid #000;
        width: 100%;
    }

    table#tabelalancamentos td {
        padding: 15px 0 !important;
        display: block;
        text-align: right;
        font-size: 13px;
        font-weight: normal;
        width: 100%;
        display: block;
        min-height: 15px;
    }

    table#tabelalancamentos td:first-child {
        padding-left: 0 !important;
    }

    table#tabelalancamentos td:last-child {
        border-bottom: 0px;
    }

    table#tabelalancamentos td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-align: left;
    }

    #panel .periodos {
        width: 130px;
    }

    .ui-dialog { position: absolute !important; min-width: 320px !important;}
    .ui-dialog.fixed.slideIn {
        width: 100% !important;
        top: 5% !important;
        transform: translate(0, 100%);
    }
    .ui-dialog.fixed.slideIn.open {
        transform: translate(0, 0);
    }
    .ui-dialog.fixed.slideIn .ui-dialog-titlebar {
        padding: 10px 28px;
    }
    .ui-dialog.fixed.slideIn .ui-dialog-titlebar-close {
        top: 23.5px;
    }
    .ui-dialog.fixed.slideIn .ui-dialog-buttonpane {
        padding: 10px 28px;
    }
    .ui-dialog input:not([type='checkbox']),
    .ui-dialog textarea,
    .ui-dialog select {
        width: 100% !important;
        float: left;
    }

    #inclusaoDeItens, #infoVenda {
        width: auto !important;
	}

	#listaEtiquetas table tr {
		display: block;
		width: 100%;
	}

	#listaEtiquetas table td {
		padding: 15px 5px;
		font-size: 13px;
		font-weight: normal;
		width: 100%;
		min-height: 15px;
		cursor: pointer;
	}

	#listaEtiquetas table th:nth-child(1),
	#listaEtiquetas table td:nth-child(1) {
		padding-left: 10px;
		width: 1%;
	}

	#listaEtiquetas table th:nth-child(2),
	#listaEtiquetas table td:nth-child(2),
	#listaEtiquetas table th:nth-child(4),
	#listaEtiquetas table td:nth-child(4),
	#listaEtiquetas table th:nth-child(6),
	#listaEtiquetas table td:nth-child(6) {
		width: 15%;
	}

	#listaEtiquetas table th:nth-child(3),
	#listaEtiquetas table td:nth-child(3),
	#listaEtiquetas table th:nth-child(5),
	#listaEtiquetas table td:nth-child(5)  {
		width: 25%;
	}

	#listaEtiquetas table th:nth-child(7),
	#listaEtiquetas table td:nth-child(7),
	#listaEtiquetas table th:last-child,
	#listaEtiquetas table td:last-child {
		width: 2%;
	}

	#listaEtiquetas table td:before {
		content: attr(data-label);
		float: left;
		font-weight: bold;
		text-align: left;
	}

    .descricao-ticket {
        width: 20%!important;
    }

    #enviarCopiaOuvidoria {
        display: block;
    }

    #base {
        overflow: auto;
    }

    #tab-area {
        height: auto;
        float: none !important;
        display: block !important;
    }
    ul#tabnav li {
        display: block;
        float: left;
        margin-bottom: 10px;
    }

    .contasReceberTabs li {
       display: inline-block !important;
       float: none !important;
    }

    .btn-box-side-recolher {
        position: fixed;
        top: 0px;
        right: 0px;
        z-index: 50;
        padding-top: 16px;
        margin-right: 10px;
        font-size: 18px;
        height: 27px;
        text-align: left;
        width: 30px;
    }

    .btn-box-side-recolher a {
        cursor: hand;
        text-decoration: none;
        color: #968E8E;
    }

    .input-cep-icon {
        margin-left: 5px;
        width: auto !important;
    }

    .datatable-area,
    #datatable-area {
        margin-bottom: 0px;
    }

    .tline2,.tline3{
    	float:none!important;
    }

    #div-formacao-preco{
    	width:100%!important;
    }

    .button-mini-estoque {
      display: block;
    }

    .pesquisar-estoque {
      width: 93%;
    }

    #bell_content.mobile-main {
        display: block;
    }

    #edit_tarefa #controls-popup .button-default{
        margin-top: 15px;
    }

    #divResponderContainer #divResponder{
      right: 0;
    }

    #contaBox{
      width: 20px;
      display: inline;
      position: inherit;
      float: right;
      right: 88px;
    }

    #contaBox i{
      color:#9e9e9e;
    }

    .accountBox .myAccountBtn{
      line-height: 1px;
      font-size: 11pt;
      padding:5px 5px 5px 5px;
    }

    #contaBox .myAccountBtn{
      font-size: 9pt;
      padding:10px 5px 10px 5px;
    }

    .accountBox{
      right:0%;
      left:initial;
      top:100%;
    }

    .titleEmpresaText{
      padding-top: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    #menu_container_compacto {
        top: 0;
        height: 100%;
    }

    #form_edicao_item_variacao div[data-id="produto_atributos"] {
        padding-left: 15px;
        margin-left: 0;
    }

    .tab-area-vertical {
        max-width: initial;
        position: initial;
        height: initial;
        width: 100%;
    }

    #reajuste_precos {
        width: 100%;
    }

    .configuracoes-integracoes #funcionalidadesImportacao div:not(.recursoIntegracao),
    .configuracoes-integracoes #funcionalidadesExportacao div:not(.recursoIntegracao) {
      border-right: 0;
      border-bottom: 1px solid #CCC;
      margin-bottom: 5px;
    }

    .configuracoes-integracoes #funcionalidadesImportacao div:not(.recursoIntegracao):last-child,
    .configuracoes-integracoes #funcionalidadesExportacao div:not(.recursoIntegracao):last-child {
      border-bottom: 0;
    }

    .row .parametros-integracao .row {
      margin: 10px 0 !important;
      padding: 10px 0;
      height: auto;
    }

    .configuracoes-integracoes div[id*="funcionalidades"] div:first-child {
      border-top: 0;
    }

    .box-question {
        float: none;
        margin-bottom: 10px;
    }

    .box-question .box-text {
        float: none;
    }

}
@media screen and (max-width:991px) {
    .box-side {
        display: none;
    }
    .menu-modulos-sistema {
        border-right: 1px solid #CCCCCC;
    }

    .menu-modulos-sistema li {
        width: 100%;
    }

    .containerFollowups {
      margin-bottom: 325px !important;
    }

    #notificationMenu {
        left: -184.5px !important;
    }

    #top-menu #notificationMenu .arrow-up-front, #top-menu #notificationMenu .arrow-up-behind{
        display: none;
    }

    #menu-novo {
        text-align: left;
        width: 147px;
        background-image: none;
        padding: 0;
        margin-top: 0px;
        left: -170px;
        z-index: 100 !important;
        height: 100%;
        border-right: 0px solid #6d9004;
        webkit-box-shadow: 1px 2px 10px 7px rgba(0,0,0,0.32);
        moz-box-shadow: 1px 2px 10px 7px rgba(0,0,0,0.32);
        box-shadow: 1px 2px 10px 7px rgba(0,0,0,0.32);
        top: 0;
        position: fixed;
        background: #3F3D3D;
    }

    #menu-novo li {
        width: 100%;
    }

    #menu-novo li ul {
        max-height: 300px;
        overflow: auto;
    }

    #menu-novo i.visible-xs {
        display: inline-block !important;
        margin-left: 10px;
    }

    #menu-novo li:hover ul {
        display: block;
        left: 147px;
        top: 0;
        border: 1px solid #00b268;
        padding: 0;
    }

    #container.filter-left #lista{
        margin-left: 0 !important;
    }
    .container-feedback {
      position: initial;
      left: 0;
      bottom: 0;
      right: 0;
      margin-top: 15px;
      max-width: 300px;
    }
    .hover-opacity {
        opacity: 1 !important;
        display: block;
    }

    .new-search-action:hover,.search-filter-action:hover {
        background-color: #49B776;
    }

    .new-search-action, .search-filter-action {
        background-color: #3faf6b;
        color: #FFF;
        min-width: 36px;
        border: 1px solid #3faf6b;
    }

    .search-filter-action {
        font-size: 11px;
        padding: 8px 5px 5px 5px;
    }

    .new-box-side,.box-side {
        display: none;
        z-index: 100 !important;
    }

    #container.filter-left {
        padding-right: 0px !important;
    }
}
@media screen and (min-width: 992px) {
    .box-side {
        display: block !important;
        z-index: 2;
        right: 0;
        box-shadow: none;
    }
    #menu-novo {
        left: 0px !important;
    }
    .new-box-side {
        display: block !important;
    }
    .new-box-side.hide {
        display: none !important;
    }
    #overlayMenu {
        display: none !important;
    }
}
@media screen and (max-width:767px) {
    .md-border-top {
        margin-top: 0px;
        border-top: none;
    }
    .xs-border-top {
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px solid #ccc;
    }
    .xs-centralize {
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: both
    }
    .md-flex {
        display: block;
    }
    .vertical-align-inline {
      display: block;
    }

    .box-central-ajuda .button-default-novo {
        margin: 0px !important;
        margin-top: 15px !important;
    }

    .border-right {
      border-right: none;
    }

    .centraliza-videos {
        display: table-row;
        text-align: center;
    }

    .videos-descricao,
    .button-default-novo,
    .btn-secundary-novo {
        width: auto;
    }

    #paginas,
    #left-arrow-paginacao,
    #right-arrow-paginacao {
        display: none;
    }

    #primeira-pagina,
    #ultima-pagina {
        margin: 0 2px 0 2px;
    }

    #pagina-anterior,
    #proxima-pagina {
        margin: 0 2px 0 2px;
    }

    .box-central-ajuda #collapse-link span {
       margin-right: 4px;
    }

    .box-central-ajuda .descricao {
        display: inline-block;
    }

    .acoes-ticket #checkbox-ouvidoria{
      display: block;
      padding-left: 0px;
      flex:none;
    }

    .acoes-ticket #checkbox-ouvidoria input[type="checkbox"]{
      float:left;
    }

    .acoes-ticket #checkbox-ouvidoria label{
      padding-left: 5px;
    }

    .form-rating-ticket #rating-text-text{
      float: none;
    }

    .form-rating-ticket{
      display: inline-block;
      padding: 2px 5px 2px 5px;
    }

    .linhaFollowup,
    .box-preferencias .row {
      display: block;
    }

    .containerFollowups,
    .descricao-pesquisa-preferencias {
      margin-bottom: 0px;
    }

    .descricao-pesquisa-conf-multilojas {
        margin-bottom: 5px !important;
    }

    .input_textarea_followup {
      min-width: 200px;
    }

    #btn-pegarTicket,
    .link-paginacao-numerada,
    .preferencias .painel-navegacao-sub-menu span {
        display: none;
    }

    .box-preferencias h3 {
        margin-top: 25px;
        padding-left: 0;
    }

    .menu-preferencias-secundario {
        padding: 15px 0 15px 0 !important;
    }

    .menu-preferencias-secundario .menu-secundario-item:hover,
    .menu-preferencias .menu-item:hover {
      background-color: transparent !important;
    }

    .preferencias .painel-parametros {
        border-left: none !important;
    }

    .buttons-user-type input {
        width: 100%;
    }

    .preferencias .painel-parametros .painel-salvamento,
    .preferencias .painel-parametros .painel-navegacao-sub-menu {
        width: calc(100% - 15px);
    }

    .container-right {
        margin-left: 0px;
    }

    .vertical-bar {
        position: relative;
    }

    .vertical-bar-relative {
        float: initial;
    }

    #toggle_reajuste > div:not(:last-child) {
        padding-bottom: 15px;
    }

    #toggle_reajuste > div,
    #toggle_reajuste fieldset {
        height: auto;
    }

    #reajuste_precos.expanded {
        bottom: 250px;
    }

    #toggle_reajuste {
        height: 135px;
        overflow: auto;
    }

    #toggle_reajuste .fieldset-1,
    #toggle_reajuste .fieldset-2,
    #toggle_reajuste .fieldset-3,
    #toggle_reajuste .fieldset-4 {
        width: 100% !important;
    }

    #toggle_reajuste .fieldset-4 {
        padding-top: 0 !important;
    }

    #toggle_reajuste .button-default-novo {
        height: 50px;
    }

    #reajuste_precos {
        width: 100%;
    }

    #reajuste_precos a:before {
        content: "Reajuste e sincronização ";
    }

    .imported-records-list .action-imported-fields button {
        width: 200px;
        margin-bottom: 10px;
    }

    #left-bar {
        max-width: 100%;
    }

    #reajuste_precos.reajuste-show {
        display: block;
        bottom: -136px;
    }

    .configuracoes-integracoes .setaIntegracao {
        width: 100%;
    }

    .configuracoes-integracoes .recursoIntegracao {
        margin: 10px 0;
        border: 0;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .configuracoes-integracoes .setaIntegracao, .configuracoes-integracoes ul{
        float: none !important;
        margin-top: 0 !important;
        margin: 0;
        padding: 0;
    }
    .configuracoes-integracoes .painel-helper {
        float: none;
        border: none;
        width: 100%;
        clear: both;
        text-align: left;
        border-bottom: 1px solid #ccc;
        padding-bottom: 11px;
        padding-left: 41px;
    }

    .configuracoes-integracoes .painel-helper:last-child {
        border-bottom: none;
    }

    .configuracoes-integracoes .painel-helper span{
        display: block;
        margin-left: 13px !important;
        margin-top: 12px !important;
        float: left;
    }

    .configuracoes-integracoes .painel-helper img {
        float: left;
    }

    .configuracoes-integracoes div {
    	display: block;
    }

    .configuracoes-integracoes .row {
        height: auto;
        text-align: left;
    }

    .parametros-integracao .has-textarea {
        height: auto !important;
    }

    #formDadosConfiguracaoIntegracaoLojaVirtual .group-item-form {
        min-height: auto;
    }


    .popover-ajuda {
      max-width: 250px;
      max-height: 250px;
    }

    .pos-tab-permissoes {
        position: static;
    }

    #menu-novo li:hover ul {
        left: 135px;
    }
}

@media screen and (max-width:1280px) {
	.botoes-envio-ticket{
		float:none;
	}
}

@media screen and (min-width: 851px) {
    #icone-abre-side-left {
        visibility: hidden;
        display: none;
    }
    .search-bar.search-hidden {
        display: none;
    }
}

@media screen and (min-width: 992px) and (max-width: 1280px) {
    .new-box-side {
        display: block !important;
    }
    .new-box-side.hide {
        display: none !important;
    }
    #overlayMenu {
        display: none !important;
    }
    #datatable table thead th {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    #datatable table tbody td{
        word-break: break-word;
    }
}

@media (min-width:1920px) {

	body {
		max-width: 1920px;
	}

	.bling-form div.fixed-bar.fixed {
		padding: 0 calc((100% - 1920px) / 2);
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
	}

	.box-side {
		position: fixed;
		right: calc((100% - 1920px) / 2) !important
	}

	.top-search-scroll {
		width: calc(1920px - 250px);
		left: calc((100% - 1920px) / 2);
	}

	#top-menu {
		padding: 0 calc((100% - 1920px) / 2);
	}

	#menu-novo {
		position: relative !important;
	}

	#container .new-box-side, .new-box-side {
		height: calc(100vh - 55px) !important;
		position: fixed !important;
		right: calc((100% - 1920px) / 2 + 8px) !important;
		top: 0 !important;
		box-shadow: 2px 0px 0pt #0000000B !important;
		margin-top: 55px;
		z-index: 4 !important;
	}

	.box-side-left {
		left: calc((100% - 1920px) / 2) !important;
	}

	#divResponderContainer #divResponder {
		right: calc((100% - 1920px) / 2 + 250px);
		left: calc((100% - 1920px) / 2 + 250px);
	}

	#menu_novo ul, #menu-novo ul, #menu-acoes ul {
		position: fixed;
	}

	#menu-acoes #notificationMenu ul {
		position: initial;
	}

	#modalWait {
		left: 0;
	}

	.bling-form {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	#search-left-area {
		left: calc((100% - 1920px) / 2) !important;
		border-radius: 10px !important;
		margin-top: 0 !important;
	}

	#search-left-area .open-filter {
		border-radius: 10px !important;
	}

	#container.filter-left #lista:not(.margin-search-bar) {
		margin-left: 0 !important;
	}

	#header-list {
		padding-left: 35px;
	}

	#container.filter-left #lista.margin-search-bar #header-list {
		padding-left: 0;
	}

	#container.filter-left #lista:not(.margin-search-bar) #datatable, #container.filter-left #lista:not(.margin-search-bar) #datatable-area {
		padding-left: 0 !important;
	}

	#search-left-area:not(.open) {
		height: auto;
		padding-bottom: 0;
	}

	.breadcrumb {
		margin-left: 0 !important;
		padding-left: 9px !important;
	}

	.largura-fixa {
		display: block !important;
	}

	.upgrade-conta {
		max-width: 1920px;
		overflow-x: scroll;
		position: relative;
	}

	section#planos section.content #tabela #divheader.active {
		max-width: 1415px !important;
	}

	.quick-access {
		height: calc(100vh - 44px) !important;
	}
}
