.bli {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bling-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bli:before {
  /* Ajusta a cor interna do marker */
  background-color: inherit;
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 60%, rgba(0,0,0,0) 12%);
}

.bli.no-fill:before,
.bli.no-background:before {
  background: none;
}


/* Fix class .erro de styles-1.7 */
.bli.erro {
  background: inherit;
  border: none;
  padding: 0;
}

/* Ban */
.bli.ban:after {
  content: "\e90d";
  color: red;
  margin-left: -0.98em;
  background:none;
}

/* err */
.bli.err:after {
  content: url('images/x.svg');
  width: 0.98em;
  height: 0.98em;
  margin-left: -1em;
  position: relative;
  bottom: -0.1em;
  right: 0;
  background:none;
}

/* Ícones */
.bling-lancar-debito:before {
  content: "\e900";
  background: none;
}

.bling-caixa:before {
  content: "\e901";
  background: none;
}

.bling-lancar-credito:before {
  content: "\e902";
  background: none;
}

.bling-enviado:before {
  content: "\e919";
  background: none;
}

.bling-visualizado:before {
  content: "\e918";
  background: none;
}

.bling-agendado-envio:before {
  content: "\e917";
  background: none;
}


/* Marcadores ex: [A][B][E]... */

.bling-b:before,
.bli[class*=" bling-b-"]:before {
  content: "\e903";
}

.bling-cfe:before,
.bli[class*=" bling-cfe-"]:before {
  content: "\e904";
}

.bling-cf:before,
.bli[class*=" bling-cf-"]:before {
  content: "\e905";
}

.bling-c:before,
.bli[class*=" bling-c-"]:before {
  content: "\e905";
}

.bling-e:before,
.bli[class*=" bling-e-"]:before {
  content: "\e906";
}

.bling-dollar:before,
.bli[class*=" bling-dollar-"]:before {
  content: "\e907";
}

.bling-asterisk:before,
.bli[class*=" bling-asterisk-"]:before {
  content: "\e908";
}

.bling-fc:before,
.bli[class*=" bling-fc-"]:before {
  content: "\e909";
}

.bling-n:before,
.bli[class*=" bling-n-"]:before {
  content: "\e90a";
}


.bling-o:before,
.bli[class*=" bling-o-"]:before {
  content: "\e90b";
}

.bling-c:before,
.bli[class*=" bling-c-"]:before {
  content: "\e90c";
}

.bling-a:before,
.bli[class*=" bling-a-"]:before {
  content: "\e910";
}

.bling-p:before,
.bli[class*=" bling-p-"]:before {
  content: "\e912";
}

.bling-v:before,
.bli[class*=" bling-v-"]:before {
  content: "\e913";
}

.bling-d:before,
.bli[class*=" bling-d-"]:before {
  content: "\e911";
}

.bling-arrow-right:before,
.bli[class*=" bling-arrow-right-"]:before {
  content: "\e914";
}

.bling-r:before,
.bli[class*=" bling-r-"]:before {
  content: "\e915";
}

.bling-loja-fisica:before,
.bli[class*=" bling-loja-fisica-"]:before {
  content: "\e9af";
}

.bling-holding-hand:before,
.bli[class*=" bling-holding-hand-"]:before {
  content: "\e9b0";
}

/* End */

/* Start Colors */
.bli[class*="-blue"]:before {
  color: #0090df;
}

.bli[class*="-midblue"]:before {
  color: #1188af;
}

.bli[class*="-darkblue"]:before {
  color: #004b99;
}

.bli[class*="-deepblue"]:before {
  color: #0d297b;
}

.bli[class*="-green"]:before {
  color: #90a949;
}

.bli[class*="-midgreen"]:before {
  color: #009048;
}

.bli[class*="-darkgreen"]:before {
  color: #3a9e52;
}

.bli[class*="-deepgreen"]:before {
  color: #306047;
}

.bli[class*="-purple"]:before {
  color: #5e2ec1;
}

.bli[class*="-lavender"]:before {
  color: #ae78dc;
}

.bli[class*="-violet"]:before {
  color: #9f03e1;
}

.bli[class*="-red"]:before {
  color: #d9000d;
}

.bli[class*="-darkred"]:before {
  color: #b83147;
}

.bli[class*="-deepred"]:before {
  color: #af0011;
}

.bli[class*="-yellow"]:before {
  color: #f6c80f;
}

.bli[class*="-orange"]:before {
  color: #e23b0d;
}

.bli[class*="-cherry"]:before {
  color: #d8068a;
}
/* End Colors */
