.breadcrumb {
    margin: 10px 0 0 0;
}

.disable-interface {
    z-index: 1010;
    position: absolute;
    height: 100%;
    width: 100%;
}

.label-item-form-toggle {
    margin-bottom: 3px;
}

.container-fluid {
    position: relative;
}

.list-fields {
    border: 1px solid #CCCCCC;
}

.list-fields .row {
    display: flex;
    align-items: center;
    font-size: 9pt;
    position: relative;
}

.list-fields .header-fields {
    background-color: #E8E8E8;
    color: #999999;
    height: 28px;
}

.list-fields > .row:not(.header-fields) {
    border-top: 1px solid #CCCCCC;
    height: 35px;
    color: #3F3D3D;
}

.list-fields > .row div span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}

.list-fields > .row:not(.header-fields):hover {
    background-color: #E8E8E8;
}

.list-fields > .row:not(.header-fields) .row-actions {
    text-align: right;
}

.list-fields > .row i {
    font-style: normal;
    font-size: 11pt;
}

.list-fields .row-actions .icon-pencil,
.list-fields .row-actions .icon-trash {
    display: none;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 8px;
}

.list-fields > .row:not(.header-fields):hover .row-actions .icon-pencil,
.list-fields > .row:not(.header-fields):hover .row-actions .icon-trash,
.list-fields > .row:not(.header-fields):hover .row-actions .field-status {
    display: inline-block;
}

.list-fields .icon-trash {
    color: #DD6F77;
}

.list-fields .fa-ellipsis-v {
    margin-top: 8px;
}

.list-fields .field-status {
    display: none;
    float: left;
    text-align: left;
}

.welcome-custom-fields h3 {
    font-size: 17pt;
    margin-top: 20px;
    margin-bottom: 15px;
}

.welcome-custom-fields p {
    margin: 0;
}

.welcome-custom-fields .button-default-novo {
    margin-top: 35px;
}

.list-module-content .button-new-field {
    margin-top: 10px;
    text-align: center;
    border: 1px dashed #7CB5D8;
    height: 35px;
    cursor: pointer;
}

.list-module-content .button-new-field span {
    font-size: 14px;
    color: #7CB5D8;
    line-height: 35px;
    font-weight:bold;
}

.mobile-dropdown {
    border: 1px solid #CCCCCC;
    padding: 5px;
    width: 100px;
    position: absolute;
    right: 14px;
    top: 25px;
    z-index: 1;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

.mobile-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-dropdown li:hover {
    cursor: pointer;
}

.mobile-dropdown li:not(:first-of-type) {
    margin-top: 5px;
}

.mobile-dropdown li:not(:last-of-type) {
    padding-bottom: 5px;
    border-bottom: 1px solid #CCCCCC;
}

.loading-data .loading.fixed-loading {
    position: fixed;
}

@media screen and (max-width:767px) {
    .list-fields .toogle-checkbox span::after,
    .list-fields .toggle-checkbox input:checked + span::after {
        content: '' !important;
    }

    .list-fields .toogle-checkbox {
        width: 33px;
    }

    .list-fields > .row:not(.header-fields) .row-actions .field-status {
        display: inline-block;
    }
}