.cancelamento-conta-title {
	margin: 0 0 40px 20px;
	padding-top: 12px;
}

.cancelamento-conta-title h1 {
	font: bold 20px/25px 'Helvetica';
	color: #707070;
}

.cancelamento-conta-title h2 {
	font: 14px/18px 'Gilroy-Regular';
	color: #3F3D3D;
}

.cancelamento-conta-header {
	margin: 0 0 40px 40px;
	padding-left: 80px;
	width: 80%;
}

.cancelamento-conta-header .fas {
	position: absolute;
	margin-left: -80px;
	margin-right: 25px;
	transform: translateY(25%);
	font-size: 48px;
}

.cancelamento-conta-header.etapa-tres {
	margin-top: 40px;
	margin-bottom: 0px;
}

.cancelamento-conta-header.etapa-um .fas {
	color: #E3A541;
}

.cancelamento-conta-header.etapa-dois .fas {
	color: #7CB2D5;
}

.cancelamento-conta-header.etapa-tres .fas {
	color: #E3A541;
}

.cancelamento-conta-header h1, .cancelamento-conta-header h2 {
	font: 22px/29px 'Gilroy-Bold';
}

.cancelamento-conta-header.etapa-um h1, .cancelamento-conta-header.etapa-um h2 {
	color: #E3A541;
}

.cancelamento-conta-header.etapa-dois h1, .cancelamento-conta-header.etapa-dois h2 {
	color: #7CB2D5;
}

.cancelamento-conta-header.etapa-tres h1, .cancelamento-conta-header.etapa-tres h2 {
	color: #C89015;
}

.cancelamento-conta-header p {
	font: 14px/27px 'Gilroy-Regular';
	color: #3F3D3D;
}

.cancelamento-conta-header.ofuscado .fas, .cancelamento-conta-header.ofuscado h1, .cancelamento-conta-header.ofuscado h2 {
	color: #C9C9C9;
}

.cancelamento-conta-header.ofuscado p {
	color: #A0A0A0;
}

.cancelamento-conta-field:first-child {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.cancelamento-conta-field:last-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.cancelamento-conta-field {
	margin: 0px 100px;
}

.cancelamento-conta-field.next-step {
	padding: 0px 50px;
	background-color: #F7F7F7;
}

.cancelamento-conta-field-options {
	margin-top: 12.5px;
}

.cancelamento-conta-field-forms {
	margin: 12.5px 15% 0 2%;
}

.cancelamento-conta-field-forms .container-fluid {
	margin: 0;
	padding: 0;
}

.cancelamento-conta-field-forms .container-fluid .alert-box {
	margin-top: 30px;
}

.cancelamento-conta-field.first-step .cancelamento-conta-option {
	background-color: #F7F7F7;
	color: #707070;
	padding: 30px 25px 10px 30px;
}

.cancelamento-conta-field.next-step .cancelamento-conta-option {
	background-color: #FFF;
	color: #7CB2D5;
	padding: 20px 25px 10px 20px;
}

.cancelamento-conta-field-title, .cancelamento-conta-field-sub-title {
	margin: 0;
}

.cancelamento-conta-field .fa-arrow-left {
	margin-left: -34px;
    margin-top: 14px;
	width: 27px;
	height: 27px;
	font-size: 19px;
	padding: 4px 3px 5px 5px;
	color: #fff;
	background-color: #30578F;
	border-radius: 50%;
	float: left;
	position: absolute;
	cursor: pointer;
}

.cancelamento-conta-field-header {
	margin: 0 15% 12.5px 2%;
	padding-top: 12px;
}

.cancelamento-conta-field-header .far, .cancelamento-conta-field-header .fas {
	margin: 10px 0;
	font-size: 50px;
	color: #707070;
}

.cancelamento-conta-field-header a {
	text-decoration: none;
}

.cancelamento-conta-field-header h1 {
	padding: 3px 0px;
	font: 17px/24px 'Gilroy-Bold';
	color: #707070;
}

.cancelamento-conta-field-header h2{
	font: 16px/21px 'Gilroy-Regular';
	color: #666666;
}

.cancelamento-conta-option {
	max-width: 23%;
	width: 169px;
	min-height: 135px;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 7px;
	float: left;
	margin: 0 0 2% 2%;
	font: 13px/19px 'Gilroy-Regular';
    cursor: pointer;
    overflow: hidden;
}

.cancelamento-conta-option.mensalidade {
	height: 62px;
	font: 21px/30px 'Gilroy-Regular';
	padding: 20px 20px 10px 20px;
	text-align: center;
}

.cancelamento-conta-option.selected {
	border: solid 1px #7CB2D5;
}

.cancelamento-conta-field-continue {
	margin: 0;
	padding: 15px 0 20px 0;
	margin-left: -30px;
	color: #7CB2D5;
	cursor: pointer;
}

.cancelamento-conta-field > .group-itens-form {
	margin: 25px 0 40px 2%;
}

.cancelamento-conta-field-forms .group-itens-form {
	float: none;
}

.cancelamento-conta-field-forms .group-itens-form:not(:first-child) {
	margin-top: 20px;
}

.cancelamento-conta-field .btn-secundary-novo, .cancelamento-conta-field .button-default-novo {
	width: auto;
	padding: 0 30px;
}

.cancelamento-conta-button-label {
	width: 100%;
	display: block;
	color: #666666;
	font: 13px/21px 'Gilroy-Bold';
	margin-bottom: 10px !important;
}

.cancelamento-conta-etapa-tres .cancelamento-conta-field.next-step .cancelamento-conta-field-forms {
	margin: 0;
}

.cancelamento-conta-etapa-tres .cancelamento-conta-field.next-step .cancelamento-conta-field-header {
	margin: 0 2% 12.5px 2%;
	text-align: center;
}

.cancelamento-conta-etapa-tres .cancelamento-conta-field.next-step > p {
	margin-left: 2%;
	font: 14px/27px 'Gilroy-Regular';
	color: #3F3D3D;
}

.cancelamento-conta-etapa-tres .cancelamento-conta-field.next-step .cancelamento-conta-field-header h1 {
	text-align: center;
	font: 20px/20px 'Gilroy-Bold';
}

.cancelamento-conta-etapa-tres .cancelamento-conta-field.next-step {
	margin-top: 40px;
}

.cancelamento-conta-etapa-tres .cancelamento-conta-field.next-step .cancelamento-form-checkbox {
	position: relative;
	left: 50%;
}

.cancelamento-conta-etapa-tres .cancelamento-conta-field.next-step .cancelamento-form-checkbox > .group-item-form {
	transform: translateX(-50%);
}

.cancelamento-conta-etapa-tres .cancelamento-conta-field.next-step .cancelamento-conta-buttons {
	margin: 25px 0 40px 0;
}

.cancelamento-conta-etapa-tres .cancelamento-conta-field.next-step .cancelamento-conta-buttons .group-item-form {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.cancelamento-conta-etapa-tres .cancelamento-conta-field.next-step .cancelamento-conta-button-label {
	text-align: center;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.cancelamento-conta-option {
		max-width: 31%;
	}
}
@media (min-width: 769px) and (max-width: 991px) {
	.cancelamento-conta-option {
		max-width: 48%;
	}
}
@media (max-width: 768px) {
	.cancelamento-conta-header {
		padding-left: 50px;
	}
	.cancelamento-conta-header .fas {
		margin-left: -50px;
		font-size: 28px;
	}
	.cancelamento-conta-header.etapa-um p, .cancelamento-conta-header.etapa-um button{
		margin-left: -50px;
	}
	.cancelamento-conta-field.next-step {
		margin-left: 0;
		margin-right: 0;
	}
	.cancelamento-conta-etapa-tres .cancelamento-conta-field.first-step {
		margin-right: 0;
		margin-left: 40px;
	}
	.cancelamento-conta-field .btn-secundary-novo, .cancelamento-conta-field .button-default-novo {
		padding: 0 10px;
	}
	.cancelamento-conta-field {
		margin-left: 0;
		margin-right: 0;
	}
	.cancelamento-conta-option {
		max-width: 100%;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.cancelamento-conta-field.first-step .cancelamento-conta-option {
		max-width: calc(100% - 80px);
		width: calc(100% - 80px);
		margin-left: 40px;
		margin-right: 40px;
		min-height: 98px;
		padding-bottom: 30px;
	}
}
