body,
body * {
	margin: 0;
	padding: 0;
	font-family: arial, helvetica, sans-serif;
	font-style: normal;
}

table {
	border-collapse: collapse;
}

td, th {
	padding: 1px;
}

.wh10 {
	width: 10%;
}

.wh20 {
	width: 20%;
}

.w30 {
	width: 300px;
}

.wh35 {
	width: 35%;
}

.wh40 {
	width: 40%;
}

.wh50 {
	width: 50%;
}

.wh60 {
	width: 60%;
}

.wh90 {
	width: 90%;
}

.wh100 {
	width: 100%;
	float: left;
}

#comprovante_nao_fiscal {
	table-layout: fixed;
	max-width:100%;
	margin-top: 30px;
}

#comprovante_nao_fiscal thead th:not(:last-of-type),
#comprovante_nao_fiscal tbody td:not(:last-of-type) {
	border-right: 1px solid #666;
}

#comprovante_nao_fiscal thead th,
#comprovante_nao_fiscal tbody td {
	border-bottom: 1px solid #666;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.text_left {
	text-align: left;
}

.text_right {
	text-align: right;
}

.text_center {
	text-align: center;
}

.rcpt-body {
	width: 100%;
	clear:both;
	margin-bottom:5px;
	padding: 5px 0;
}

.margin_top5 {
	margin-top: 5px;
}

.page-break {
	page-break-after: always;
	clear: both;
	display: block;
	margin: 0;
}