#dev_popup .row,
#dialog_nf_devolucao .row {
	margin-left: -15px;
	margin-right: -15px;
}

#dev_popup .exclamation-items {
	border: 1px solid #CCC;
}

#dev_popup .input-icons {
	position: absolute;
	top: 16px;
	right: 0;
	padding: 5px 20px 0 0;
	z-index: 15;
}

#dev_tabela_produtos {
	height: 272px;
	overflow: auto;
	display: block;
	display: -moz-grid;
}

#dev_tabela_produtos .table-body .table-row {
	height: 34px;
}

#dev_tabela_produtos .table-body .table-row[data-checked="true"] div[data-qtd] input {
	display: inline-block;
}

#dev_tabela_produtos .table-body .table-row[data-checked="false"] div[data-qtd] input {
	display: none;
}

#dev_tabela_produtos .table-body .table-row[data-checked="true"] div[data-qtd]:after {
	content: " / " attr(data-qtd);
}

#dev_tabela_produtos .table-body .table-row[data-checked="false"] div[data-qtd]:after {
	content: attr(data-qtd);
}

#dev_tabela_produtos .table-body .table-row > div:nth-child(1) .input-checkbox {
	margin: 0;
}

#dev_tabela_produtos .table-body .table-row > div:nth-child(2) {
	font-weight: bold;
}

#dev_tabela_produtos .table-body .table-row .table-cell:before {
	display: none;
}

#dev_tabela_produtos div[id^="dev_qtd"] input {
	width: 60px !important;
	margin: 0 !important;
	border: 1px solid #999 !important;
}

#dev_popup .dev-totais span[data-total-saida]:before {
	content: "R$ " attr(data-total-saida);
}

#dev_popup .dev-totais span[data-total-entrada]:before {
	content: "R$ " attr(data-total-entrada);
}

#dev_popup .dev-totais span[data-total-diferenca]:before {
	content: "R$ " attr(data-total-diferenca);
}

#dev_popup .dev-totais span[data-total-qtd][data-total-devolver]:before {
	content: attr(data-total-qtd) " / " attr(data-total-devolver);
}

#dev_popup .exclamation-items {
	height: 100%;
	padding-top: 55px;
}

#tabela_nf_devolucao {
	color: #3f3D3D;
	font-size: 10pt;
	height: 134px;
	display: block;
	overflow: auto;
}

#dialog_nf_devolucao p {
	font-size: 11pt;
	color: #3f3D3D;
	margin: 0;
	padding-bottom: 15px;
}

#tabela_nf_devolucao .table-head,
#tabela_nf_devolucao .table-cell {
	padding: 5px;
}

#tabela_nf_devolucao .table-cell {
	border: none;
}

#tabela_nf_devolucao .table-body .table-row {
	border-bottom: 1px solid #DBDBDB;
}

#tabela_nf_devolucao .table-body .table-row:hover {
	background-color: #E6E6E6;
	cursor: pointer;
}

#tabela_nf_devolucao .table-body .table-row .input-radio {
	margin-left: 4px;
}

#success_dev {
	background-color: #DAF1E7;
}

#success_dev .logo-success i {
	font-size: 80pt;
	color: #3FA36C;
	margin-bottom: 15px;
}

#success_dev .logo-success p {
	font-size: 10pt;
	color: #3F3D3D;
}

#success_dev .logo-success h3 {
	font-size: 14pt;
	color: #3F3D3D;
}

#dev_aba_cliente.alert-contato:after {
	font-family: 'Font Awesome 5 Free';
	content: "\f071";
	font-weight: 900;
	margin-left: 6px;
	color: #DF913D;
}

#dev_alert_contato {
	margin-bottom: 15px;
}

#escolha_natop {
	display: flex;
	justify-content: center;
}

.ui-dialog[aria-describedby="dev_popup"] .dialog-steps {
	position: absolute;
	bottom: 22px;
	left: calc(50% - 15px);
}

.ui-dialog[aria-describedby="dev_popup"] .ui-dialog-buttonset .button-cancel {
	position: absolute;
	bottom: 12px;
	left: 6px;
}

.dev-totais:nth-child(1) h3 {
	margin-top: 0;
}

.dev-totais h3 {
	margin: 15px 0 5px 0;
	border-bottom: 1px solid #666;
	color: #666;
}

.dev-totais span {
	font-size: 11pt;
	color: #666;
	display: block;
	text-align: right;
}

.div-aviso-devolucao-existente {
	position: relative;
}

.aviso-devolucao-existente {
	position: absolute;
	right: 8px;
	bottom: 8px;
	font-size: 10pt;
	color: #DF913D;
}