#lista {
	margin: 0px 32px 0px 32px;
}

#datatable {
	padding: 0 !important;
}

#datatable table thead tr th {
	height: 45px;
	color: #707070;
	font-size: 9pt;
	position: inherit;
	font-weight: normal;
	top: 145px;
	z-index: 2;
	cursor: default;
}

.btn-cancelar {
	font-family: 'Gilroy-Bold' !important;
	font-family: var(--bling-form-font-family);
	padding: 11px !important;
	color: #37A661;
	font-size: 12px !important;
	font-weight: bold;
	border-radius: 8px;
	background-color: #FFF;
	box-shadow: 0px 3px 6px #00000029;
	border: 1px solid #37A661;
	min-width: 90px;
}

.btn-cancelar:hover {
	font-family: 'Gilroy-Bold' !important;
	font-family: var(--bling-form-font-family);
	padding: 11px !important;
	color: #37A661;
	font-size: 12px !important;
	font-weight: bold;
	border-radius: 8px;
	background-color: #FFF;
	box-shadow: 0px 3px 6px #00000029;
	border: 1px solid #37A661;
	min-width: 90px;
}

.btn-cancelar:focus {
	font-family: 'Gilroy-Bold' !important;
	font-family: var(--bling-form-font-family);
	padding: 11px !important;
	color: #37A661;
	font-size: 12px !important;
	font-weight: bold;
	border-radius: 8px;
	background-color: #FFF;
	box-shadow: 0px 3px 6px #00000029;
	border: 1px solid #37A661;
	min-width: 90px;
}

.btn-anexar {
	text-decoration: none;
	color: #0D5EF7;
	font-size: 11px;
	padding: 8px;
	background: transparent;
	border: none;
}

.btn-include {
	font-family: 'Gilroy-Bold' !important;
	font-family: var(--bling-form-font-family) !important;
	padding: 12px !important;
	color: #fff;
	font-size: 12px !important;
	font-weight: bold;
	border-radius: 8px;
	background-color: #3fac6c;
	box-shadow: 0px 3px 6px #00000029;
	border: none;
}

.btn-include:hover {
	font-family: 'Gilroy-Bold' !important;
	font-family: var(--bling-form-font-family);
	padding: 12px !important;
	color: #fff;
	font-size: 12px !important;
	font-weight: bold !important;
	border-radius: 8px;
	background-color: #3fac6c;
	box-shadow: 0px 3px 6px #00000029;
	border: none;
}

.btn-include:focus {
	font-family: 'Gilroy-Bold' !important;
	font-family: var(--bling-form-font-family) !important;
	padding: 12px !important;
	color: #fff;
	font-size: 12px !important;
	font-weight: bold;
	border-radius: 8px;
	background-color: #3fac6c;
	box-shadow: 0px 3px 6px #00000029;
	border: none;
}

.btn-include:disabled {
	filter: opacity(0.5);
	cursor: default;
}

.btn-download {
	background: #3FAC6C 0% 0% no-repeat padding-box;
	border-radius: 4px;
	opacity: 1;
	padding: 8px;
	border: none;
	color: #fff;
}

.btn-download p {
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	float: right;
	margin: 0;
	padding: 0 0 0 4px;
}

#divEnviarOutrosArquivos {
	background-color: white !important;
	border: none !important;
	padding: 0 !important;
}

#divEnviarOutrosArquivos p {
	font-family: Gilroy, sans-serif, arial, sans-serif;
	color: #666666;
	text-align: center;
	margin: 0;
}

.qq-upload-drop-area-dashed-new, .qq-upload-button-dashed-new .qq-upload-drop-area-active-dashed-new {
	background-color: #FFF !important;
	border: 1px dashed #3fac6c !important;
	border-radius: 8px;
	position: absolute;
	display: flex !important;
	display: -webkit-flex !important;
	align-items: center;
	justify-content: center;
	height: 180px;
	width: 100%;
}

.qq-upload-drop-area-active-dashed-new {
	z-index: 2;
}

#anexosContabil {
	position: absolute;
	width: 92%;
	height: 182px;
	border: 1px solid #eee;
	display: none;
	top: 46px;
	background-color: white;
	overflow: auto;
}

#divEnviarOutrosArquivos li {
	padding: 3px 0px 3px 40px;
	list-style: none;
	margin: 16px 0;
	line-height: 28px !important;
	color: #707070
}

#divEnviarOutrosArquivos #anexosContabil li {
	background: url(../images/outros-icone.svg) no-repeat left top;
}

.abas {
	padding: 0px;
	border-bottom: 1px solid #CCCCCC;
	background-color: #F2FAF8;
}

.abas li {
	margin: 0;
	padding: 0;
	display: inline;
	list-style-type: none;
	height: 22px;
}

.abas a:link,.abas a:visited,.abas span {
	font-family: Gilroy-Regular, sans-serif, arial, sans-serif;
	font-size: 12px/14px;
	padding: 4px 8px 2px 8px;
	text-decoration: none;
	cursor: pointer;
	line-height: 22px;
	color: #3fac6c;
}

.abas a:link.active,.abas a:visited.active,.abas span.active {
	font-family: Gilroy-Bold, sans-serif, arial, sans-serif;
	border-bottom: 3px solid #3fac6c;
}

#anexosContabil ul {
	margin: 16px !important;
	padding: 0;
}

#divEnviarAcesso {
	background-color: white !important;
	border: none !important;
	padding: 0 !important;
}

#divEnviarAcesso p {
	font-family: Gilroy, sans-serif, arial, sans-serif;
	color: #666666;
	text-align: center;
	margin: 0;
}

.caixa-dialog-lista {
	position: absolute;
	width: 92%;
	height: 180px;
	border: 1px solid #eee;
	top: 46px;
	background-color: white;
	overflow: auto;
}

#divEnviarAcesso li {
	padding: 3px 0px 3px 40px;
	list-style: none;
	margin: 16px 0;
	line-height: 28px !important;
	color: #707070
}

#divEnviarAcesso #anexosContabil li {
	background: url(../images/outros-icone.svg) no-repeat left top;
}

#cabecalho {
	background: #38DC9D 0% 0% no-repeat padding-box;
	text-align: center;
	line-height: 2;
	position: fixed;
	width: 100%;
	top: 0;
	height: 45px;
}

#cabecalho h2 {
	font-family: Gilroy-Form, arial, sans-serif;
	color: #fff;
	font-size: 20px;
}

#cabecalho_login {
	text-align: center;
	padding-top: 32px;
}

.mensagem-datatable {
	text-align: center;
	min-height: 300px;
	background-color: #fff;
	padding: 48px;
}

.mensagem-datatable h3 {
	text-align: center;
	font: 16px/23px Gilroy-Form, sans-serif, arial, sans-serif;
	letter-spacing: 0px;
	color: #707070;
	opacity: 1;
	font-weight: 800;
}

.mensagem-datatable p {
	color: #707070;
}

#conteudo_login {
	background-color: #fff;
	box-shadow: 0px 0px 6px #00000029;
	border-radius: 4px;
	width: 600px;
	height: 334px;
	top: 50%;
	left: 50%;
	margin-left: -300px;
	margin-top: -167px;
	text-align: center;
	position: fixed;
	padding-top: 48px;
}

#div_login h4 {
	margin: 0px;
	font-size: 16px;
	font-family: Gilroy, arial, sans-serif;
	letter-spacing: 0px;
	color: #666666;
}

#div_login p {
	color: #666666;
}

#emailContador {
	background-color: #F2FAF8;
	width: 320px;
	min-height: 48px;
	font: Bold 16px/24px Arial;
	color: #666666;
	margin: auto;
	border: none;
	text-align: center;
}

#codigoLogin {
	border: 1px solid #BCBCBC;
	width: 240px;
	min-height: 48px;
	font-weight: Bold;
	font-size: 24px;
	margin: auto;
	border-radius: 8px;
	text-align: center;
	-moz-appearance: textfield;
	color: #666666;
}

#codigoLogin::placeholder {
	color: #BCBCBC;
	opacity: 1;
}

.categoria-contabil img {
	max-width: 20px !important;
	height: 20px !important;
	display: block;
	width: 20px !important;
}

.controls-config {
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 0px 6px #00000029;
	opacity: 1;
	height: 14%;
	max-height: 75px;
	position: fixed;
	bottom: 0;
}

#configuracao {
	background: #fff none repeat scroll 0% 0%;
	position: absolute;
	bottom: 0;
	top: 88px;
	overflow: auto;
	margin-bottom: 75px;
	padding-bottom: 10px;
}

#configuracao h2 {
	font-family: Gilroy, sans-serif, arial, sans-serif;
	letter-spacing: 0px;
	color: #666666;
	opacity: 1;
	margin-bottom: 16px;
}

#configuracao h3 {
	text-align: left;
	font-family: Gilroy-Bold, sans-serif, arial, sans-serif;
	letter-spacing: 0px;
	color: #3fac6c;
	opacity: 1;
}

#configuracao p {
	font-family: Gilroy, sans-serif, arial, sans-serif;
	letter-spacing: 0px;
	color: #666666;
	opacity: 1;
	padding: 0px 0px 8px 0px;
	font-size: 13px;
}

.abas_etapas_active {
	background: #3fac6c 0% 0% no-repeat padding-box;
	opacity: 1;
	color: #fff;
	width: 39px;
	height: 39px;
	padding-top: 4px;
	font-size: 19px;
}

.td_etapas_active {
	color: #3fac6c !important;
	font-family: Gilroy-Bold, sans serif, arial, sans-serif !important;
	font-size: 14px;
}

.abas_etapas_previous {
	background: #8BE6C0 0% 0% no-repeat padding-box;
	opacity: 1;
	color: #fff;
	width: 30px;
	height: 25px;
	font-size: 14px;
	padding-bottom: 28px;
}

.td_etapas_previous{
	color: #8BE6C0 !important;
	font-family: Gilroy-Bold, sans serif, arial, sans-serif !important;
	font-size: 14px;
}

.abas_etapas_next {
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #BCBCBC;
	opacity: 1;
	color: #fff;
	width: 30px;
	height: 25px;
	color: #BCBCBC;
	font-size: 14px;
	padding-bottom: 28px;
}

.td_etapas_next{
	color: #BCBCBC !important;
	font-family: Gilroy-Bold, sans serif, arial, sans-serif !important;
	font-size: 14px;
}

.abas_etapas {
	width: 60%;
	margin: auto;
}

.abas_etapas tr:first-of-type {
	background: transparent linear-gradient(90deg, #3fac6c 0%, #B3BDB9 48%, #BCBCBC 100%) 0% 50% no-repeat padding-box;
	background-size: 100% 1px;
	margin: 0px 30%;
	height: 40px;
	vertical-align: bottom;
}

.abas_etapas span {
	border-radius: 50%;
	margin: 0;
	display: inline-block;
	line-height: 32px;
	font-family: Gilroy-Bold, sans-serif, arial, sans-serif;
	text-align: center;
	margin-left: -1px;
	margin-right: -1px;
}

#div_etapa2 div.toogle-checkbox input:checked + span:after {
	content: "Sim" !important;
}

#div_etapa2 div.toogle-checkbox input + span:after {
	content: "Não" !important;
}

#div_etapa2 .form-item {
	padding-left: 16px;
	height: 40px;
}

#div_etapa4 h2 {
	font: 16px/23px Gilroy, sans-serif, arial, sans-serif;
	color: #3fac6c;
	font-weight: bold;
	margin: 0;
}

#div_etapa1, #div_etapa2, #div_etapa3 {
	padding: 24px 32px 24px 32px;
}

#divConfiguracoesAvancadas h3 {
	font: 16px/17px Gilroy-Bold, arial, sans-serif;
	color: #696969;
	padding-bottom: 8px;
}

#divConfiguracoesAvancadas {
	padding: 0px 28px 28px 28px;
}

@media screen and (max-width: 900px) {
	.mostrar-mob {
		display: block;
	}
	.mostrar {
		display: none;
	}
	#configuracao {
		left: 0;
		right: 0;
	}
	#configuracaoDivInterna {
		margin: 96px 32px 32px 32px;
	}
}

@media screen and (min-width: 900px) {
	.mostrar-mob {
		display: none;
	}
	.mostrar {
		display: block;
	}
	#configuracao {
		left: 32px;
		right: 32px;
	}

	#div_frequenciaData {
		position: relative;
		top: 25%;
		left: 25%;
	}
	#configuracaoDivInterna {
		margin: 0px 32px 32px 32px;
	}
}

.card-div:focus {
	color: #7B7B7B
}

.card-div:hover {
	background-color: #E8E8E8;
	border: 1px solid #E8E8E8;
}

.card-div {
	margin: 0px 24px 32px 0px;
	height: 52px;
	width: 150px;
	border-radius: 8px;
	padding: 10px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	border: 1px solid #fff;
	text-decoration: none;
	position: relative;
	opacity: 1;
	cursor: pointer;
	text-align: center;
	align-items: center;
	display: grid;
}

.card-div input {
	display: none;
}

.card-div label {
	color: #7B7B7B;
	font-weight: 600 !important;
	font-family: Gilroy-Regular, sans-serif, arial, sans-serif !important;
	white-space: normal;
	letter-spacing: 0px;
	font-size: 13px;
	cursor: pointer;
}

.option-check {
	position: absolute;
	background-color: #3fac6c;
	box-shadow: 0px 3px 6px #00000029;
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	line-height: 32px !important;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	left: 134px;
	top: -12px;
	font-size: 16px;
}
#progresso {
	width: 59px;
	height: 59px;
	border: 1px solid transparent;
	border-radius: 50%;
	background: #D3EBF1;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	left: 2.5px;
	top: 2.5px;
}

#progresso_numero {
	position: absolute;
	width: 85%;
	height: 85%;
	z-index: 1;
	background: #fff;
	border-radius: 50%;
	text-align: center;
	padding-top: 15px;
	font: 14px/20px Gilroy-Regular;
	letter-spacing: 0px;
	color: #707070;
	font-weight: 600;
}

#progresso span{
	display: inline-block;
	width: 2px;
	height: 50%;
	background: #51DB9B;
	position: absolute;
	left: 50%;
	margin-left: -1px;
	top: 0;
	transform-origin: bottom;
	display: none;
}

#progresso_fora {
	border-radius: 50%;
	border: 2px solid #DFFAF1;
	width: 69px;
	height: 69px;
}

#progresso_texto {
	font: 16px/36px Gilroy-Regular;
	font-weight: normal;
	color:#666666;
	font-weight: bold;
	margin: 15px 0 0 8px;
}

.filtro-form-item {
	height: 30px;
	color: #3F3D3D;
	padding: 0 11px;
	font-size: 9pt !important;
	font-family: arial, sans-serif, helvetica, sans-serif !important;
	box-shadow: none;
	width: 100%;
	border: 1px solid #3FAC6C;
	outline: 0;
}

.form-item {
	border: 1px solid #C9C9C9;
	border-radius: 8px;
	opacity: 1;
	width: 100%;
	text-align: left;
	letter-spacing: 0px;
	color: #000;
	background: #FFF;
	font-family: Gilroy-Medium, sans-serif, arial, sans-serif;
}

.label-form-item {
	text-align: left;
	font-family: Gilroy-Medium, sans-serif, arial, sans-serif;
	font-size: 11px;
	letter-spacing: 0px;
	color: #666666;
	opacity: 1;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: linear-gradient(45deg, transparent 48%, #3FAC6C 50%), linear-gradient(135deg, #3FAC6C 48%, transparent 50%);
	background-position: calc(100% - 13px) calc(1em + 1px), calc(100% - 8px) calc(1em + 1px);
	background-size: 5px 5px, 5px 5px;
	background-repeat: no-repeat;
	padding-right: 20px;
}

.select-principal {
	border-radius: 4px 4px 4px 4px;
	background-color: #fff;
	color: #3FAC6C;
	font-weight: bold;
	font-size: 14px !important;
	border: none !important;
	box-shadow: 4px 4px 4px #00000029;
}

.select-principal:focus {
	color: #3FAC6C;
}

.select-secundario {
	border-radius: 4px 4px 4px 4px;
	background-color: #fff;
}

.label-item {
	display: block;
	font-family: Gilroy-Bold, sans-serif, arial, sans-serif;
	color: #666666;
	letter-spacing: 0px;
	font-size: 12px;
}

.div-item {
	margin-right: 16px;
}

.search {
	height: 40px !important;
	margin-bottom: 8px !important;
}

.search-bar {
	width: 100%;
	position: inherit;
	z-index: 1;
	top: 0;
	padding: 0px 0px 0px 0px !important;
}

#header-list {
	min-height: 116px !important;
	padding-left: 0;
}
