.botoes-acao-tabela button {
	width: 120px;
	display: block;
	margin: 5px;
}

.fa-exclamation-triangle {
	color: #ffb000;
}

#lista_cartoes .linha-opc-forma .fa-credit-card,
#lista_cartoes .linha-opc-forma .fa-barcode {
	font-size: 26px;
	color: #4a4a4a;
}

#lista_cartoes tr {
	font-size: 14px;
}

.btn-context-menu-card {
	border: 0 !important;
    color: #8C8A8A !important;
    outline: none !important;
}

.btn-context-menu-card i {
    margin-right: 0 !important;
}

.btn-context-menu-card, .btn-context-menu-card:hover {
	background-color: transparent !important;
}

#cc_number {
	background: url() no-repeat right 5px center;
	background-size: 35px;
	background-color: #FFF;
}

td.td5 {
    width: 5%;
}

img.icone-extrato-situacao {
	width: 18px !important;
	height: 18px !important;
}