button.flow-button {
    margin-right: 20px;
    border: 1px solid #CCC;
    width: 50px;
    height: inherit;
    font-size: 12pt;
}

.bank {
    border: 1px solid #CCC;
    margin: 0 20px 20px 0;
    width: 170px;
}

.bank .img-bank {
    width: 168px;
    margin-bottom: 10px;
}

.bank .bank-type {
    font-size: 12px;
    font-weight: bold;
    color: #6d6d6d;
    margin-top: 20px;
    padding: 2px;
}

.container-number-digit {
    display: flex;
}

.container-number-digit input:nth-child(1) {
    width: 70%;
}

.container-number-digit input:nth-child(2) {
    width: 28%;
    margin-left: 5px;
    text-transform: uppercase;
}

div.group-item-form {
    min-width: 100px;
}

label.label-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

p.info-instructions {
    margin: 0px;
    padding: 0px;
}

.label-item-form-text {
    display: inline-block;
    width: 100%;
    margin-top: 3px;
    border: 1px solid #d3d3d3;
    background-color: #f0f0f0;
}

.label-item-form-text p {
    font-size: 17px;
    font-weight: bold;
    color: #4f4f4f;
    margin: 0;
    padding: 4px;
    padding-left: 8px;
    vertical-align: middle;
    display: inline-block;
}

#icone_banco {
    width: 30px;
    padding: 2px;
}

.subtitulo {
    font-size: 11pt;
}

div[class^="useful-info"] {
    line-height: 1.6;
}

#list_bank table {
    font-size: 11pt;
    color: #666;
}

#list_bank table td:first-child {
    padding-left: 40px;
}

tr.subtitle-list {
    background-color: #eee;
    font-weight: bold;
    font-size: 15px;
    padding: 6px 0 6px 12px;
}

tr.subtitle-list td {
    padding: 10px 0 10px 12px;
    color: #44464C;
}

#list_bank table tr {
    border-bottom: 1px solid #e1e1e1;
}

.ico-ban-circle:before {
    position: initial;
}

.ui-dialog .ui-dialog-buttonset button:disabled {
    opacity: 0.5;
}

.color-white {
    color: #eee !important;
}

input:invalid, select:invalid {
    box-shadow: none;
}

#homologation_actions input {
    margin-bottom: 10px;
    width: 100%;
}

.linha_form .ui-datepicker-trigger {
    right: 22px
}

.file-name-attachment {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 10pt;
    padding: 10px;
    background-color: #e0e0e0;
}

.file-name-attachment .icon-paper-clip {
    font-size: 13pt;
    margin-right: 6px;
    color: #999;
}

.grayscale {
    filter: gray;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.breadcrumb {
    margin-bottom: 10px;
}