.tab-control {
	width: 98%;
	border-bottom: 1px solid #C9C9C9;
	opacity: 1;
	padding: 8px 0;
	margin: 5px 10px 0;
}

.tab-control div {
	position: relative;
	display: inline;
}

.tab-control a {
	font: 13px Gilroy-Regular, Arial !important;
	text-align: left;
	font-size: 14px;
	letter-spacing: 0px;
	color: #666;
	opacity: 1;
	text-decoration: none;
	padding: 7px 14px;
	margin-right: 15px;
}

.tab-control a:hover {
	font: 13px Gilroy-Bold, Arial !important;
	border-bottom: 3px solid #666;
	opacity: 1;
	color: #666;
}

.tab-control a.selected {
	font: 13px Gilroy-Bold, Arial !important;
	border-bottom: 3px solid #37A661;
	opacity: 1;
	color: #37A661;
}

.notas-recebidas-select {
	border: 1px solid #BABABA;
	border-radius: 8px;
	height: 32px;
	background-color: #FFF;
	background-image: none;
	color: #3F3D3D; color: var(--dark-gray-font-color);
	outline: 0;
	flex-shrink: 0;
	padding: 0 8px;
	background-image: url(../imagens/caret-down.svg);
	background-repeat: no-repeat;
	background-position: bottom 12px right 8px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	padding-right: 24px;
}

.btn-manifestar {
	font-family: 'Gilroy-Bold';
	font-family: var(--bling-form-font-family);
	font-weight: bold;
	background-color: #FFF;
	opacity: 1;
	font-size: 12px;
	color: #37A661;
	height: 32px;
	border: 1px solid #37A661;
	border-radius: 8px;
	padding: 0 10px;
	margin-right: 10px;
}

.btn-manifestar:focus {
	color: #37A661 !important;
}

.statusNotaRecebida {
	color: #FFF;
	border-radius: 15px;
	height: 24px;
	text-align: center;
	padding-top: 5px;
	margin-right: 20px;
	min-width: 115px;
}

.background-azul {
	background: #34B2F5 0% 0% no-repeat padding-box;
}

.background-preto {
	background: #666666 0% 0% no-repeat padding-box;
}

.background-laranja {
	background: #C89015 0% 0% no-repeat padding-box;
}

.background-verde {
	background: #3FAF6B 0% 0% no-repeat padding-box;
}

.background-vermelho {
	background: #F26666 0% 0% no-repeat padding-box;
}

.btn_icone {
	color: #666666;
	border: 1px solid #CCCCCC;
	border-radius: 8px;
	padding: 8px 10px;
	height: 32px;
	margin-left: 20px;
	background-color: #FFF;
}

.h4-welcome {
	font: 15px/21px Gilroy-Bold;
	color: #37A661;
}

.span-welcome {
	font-size: 12px;
	color: #666666;
	line-height: 1.7;
}

.button-welcome {
	width: 201px;
	height: 32px;
	background: #37A661 0% 0% no-repeat padding-box;
	border-radius: 8px;
	opacity: 1;
	font: 12px/13px Gilroy-Bold;
	letter-spacing: 0px;
	color: #FFFFFF;
	border: none;
	margin-top: 24px;
}