.respostas-frequentes {
    flex-flow: row wrap;
}

.respostas-frequentes.fechado {
    max-height: 28px;
}

#problemaTicket::selection {
    border: #000000;
    outline: none;
}

.chosen-container-active .chosen-single {
    border: 1px solid  rgb(153, 153, 153);
    box-shadow: none;
}

.chosen-single {
    border: 1px solid  rgb(153, 153, 153);
}

.chosen-container .chosen-drop {
    border-bottom: 0;
    border-top: 1px solid #aaa;
    top: auto;
    bottom: 45px;
}

.chosen-container .chosen-results li.highlighted,
.linha_form .chosen-container .chosen-results li.highlighted {
    background-color: #3faf6c;
    font-weight: bold;
    color: #FFF;
    background-image: none;
}

.chosen-container.chosen-with-drop .chosen-single {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-image: none;
}
.linha_form .chosen-results li:hover {
    background-color:#FFF;
}
.chosen-container-single .chosen-single {
    margin-top: 3px;
    top: -3px;
    border-radius: 0;
    height: 30px;
    background: #FFF;
    box-shadow: none;
    line-height: 28px;
}

#ticketProblema_chosen {
    margin-top: 3px;
}

#ticketProblema_chosen ul:first-of-type {
    max-height: 180px;
    margin-top: 5px;
}

#ticketProblema_chosen a {
   text-decoration: none;
}

#ticketProblema_chosen a:hover {
   color: rgb(68,68,68);
}

.chosen-container .chosen-results {
    max-height: 340px;
}

.chosen-container.chosen-with-drop .chosen-drop {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: none;
    margin-bottom: -16px;
}

#historico-categorias {
    padding-bottom: 60px;
}

.box-side-left::-webkit-scrollbar {
	width: 7px;
}

.box-side-left::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px gray; 
}

.box-side-left::-webkit-scrollbar-thumb {
	background: #3faf6c; 
}

.box-side-left::-webkit-scrollbar-thumb:hover {
	background: #3a965f;
}

#nome-plano {
    font-weight: bold;
    font-size: 13pt;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#tempo-empresa {
    font-weight: bold;
    font-size: 9pt;
    color: #005f8a;
    margin-bottom: 8px;
}

#icone-plano img {
    width: 30px;
}

.box-side-left {
    top: 43px;
    padding: 10px 20px;
    background: #E6E6E6;
    left: 0;
    width:250px;
    overflow: auto;
}

#espaco {
    font-weight: bold;
    font-size: 9pt;
    color: #3F3D3D;
    margin-bottom: 10px;
}

#espaco span {
    border-right: 1px solid #ccc;
}
#espaco span, #situacao span {
    padding-right: 10px;
    margin-right: 10px;
    min-width: 54px;
    display: inline-block;
}

#nome-empresa a {
    font-size: 10pt;
    font-weight: bold;
    color: #29ABE2;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;    
}

#nome-empresa {
    margin-bottom: 10px;
}

#usuario-suporte, #dados-login {
    font-size: 9pt;
    color: #3f3d3d;
    margin-bottom: 10px;
}

#usuario-suporte {
    cursor: pointer;
}

#usuario-suporte div {
    float: left;
    margin-top: 2px;
}

#usuario-suporte .nome-usuario span{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
}

#usuario-suporte #info-usuario {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
}

#usuario-suporte i {
    cursor: pointer;
    margin-left: 10px;
    font-size: 16px;
}

#historico-categorias table, #historico-ticket table {
    margin-top: 10px;
    width: 100%;
}

#historico-categorias .totals {
    font-weight: bold;
}

#historico-categorias .center {
    text-align: center;
}

#historico-categorias tbody tr td, #historico-ticket tbody tr td {
    font-size: 8pt;
    color: #3f3d3d;
    border: 1px solid #ccc;
    padding: 5px;
}

#historico-categorias thead, #historico-ticket thead {
    background: #999;
    padding: 2px 5px;
}

#historico-categorias th, #historico-ticket th {
    font-size: 8pt;
    color: #FFF;
    padding: 2px 5px;
}
/* Mensagem oferecer-apoio a usuario */
#oferecer-apoio {
    color: #FF9D00;
    padding: 5px 0;
    border: 2px solid #FF9D00;
    width: 210px;
    height: 40px;
    margin-bottom: 10px;
}

#oferecer-apoio span {
    float: left;
    margin: 3px 10px 0 5px;
    font-size: 18px;
}

#oferecer-apoio .titulo-mensagem {
    font-family: "Arial";
    font-weight: bold;
    font-size: 9pt;
    white-space: nowrap;
}

#oferecer-apoio .subtitulo-mensagem {
    font-family: "Arial";
    font-size: 8pt;
    white-space: nowrap;
}
/* Usuátirio em período de teste */
#oferecer-apoio .titulo-mensagem,
#oferecer-apoio .subtitulo-mensagem {
    color: #CB9045;
}

/* oferecer-apoio experiente */
.aviso-experiente #oferecer-apoio {
    color: #3FAF6C;
    border-color: #3FAF6C;
}

.aviso-experiente #oferecer-apoio span{
    color: #03B520;
    margin: 3px 10px 0 8px;
}

.aviso-experiente #oferecer-apoio .titulo-mensagem {
    color: #3FAF6C;
    margin-top: 5px;
    font-size: 11pt;
}

.aviso-experiente .subtitulo-mensagem {
    visibility: hidden;
    display: none;
}

/* oferecer-apoio iniciante */
.aviso-iniciante #oferecer-apoio {
    color: #BB8507;
    border-color: #CFA705;
}

.aviso-iniciante #oferecer-apoio span{
    color: #CFA705;
    margin: 3px 10px 0 8px;
}

.aviso-iniciante #oferecer-apoio .titulo-mensagem {
    margin-top: 5px;
    font-size: 11pt;
}

.aviso-iniciante .subtitulo-mensagem {
    visibility: hidden;
    display: none;
}

/* oferecer-apoio recem-nascido */
.aviso-recem-nascido #oferecer-apoio {
    color: #DA6F77;
    border-color: #DA6F77;
}

.aviso-recem-nascido #oferecer-apoio span{
    color: #F96570;
    margin: 3px 10px 0 8px;
    
    /* Remover propriedades abaixo ao atualizar Fontawesome para 5.10.0 */
    width: 20.25px;
    height: 18px;
    display: block;
    background-image: url('../imagens/icone-baby-carriage.svg'); /* Remover este arquivo ao atualziar fontawesome-5.5.0 */
}

.aviso-recem-nascido #oferecer-apoio .titulo-mensagem {
    color: #DA6F77;
}

.aviso-recem-nascido #oferecer-apoio .subtitulo-mensagem {
    color: #DA6F77;
}

#descricao_ticket {
    white-space: pre-line;
}

#usuario-suporte-title {
    font-weight: bold;
}

.followInterno .follow-header {
    float: left;
}

.follow-header {
    min-width: 164px;
    margin-bottom: 6px;
}

.follow-header img{
    width: 30px;
    float: left;
    margin-right: 10px;
}

.linha-follow-up {
    line-height: 1.5;
    border-bottom: 1px solid #CCC;
    padding: 20px 10px 5px 10px;
    word-wrap: break-word;
    text-align: justify;
}

.followup-content p {
    margin: 5px 0 0 0;
}

.search-base-conhecimento {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border:none;
    background-color: #7CB2D5;
    color: #FFF;
    margin-right: 5px;
}

.search-base-conhecimento:hover {
   background-color: #5DA5D4;
}

.include-base-conhecimento {
    width: 30px;
    height: 30px;
    border-radius:100%;
    border:none;
    background-color: #0073B7;
    color: #FFF;
    margin-right: 5px;
}

.include-base-conhecimento:hover {
   background-color: #066095;
}

.buttons-base-conhecimento, .titulo_input.base-conhecimento {
    margin-left: 10px;
}

#uploadAnexoFollowup{
    width: 30px;
    margin-left: 5px;
}

#icone-mais-respostas {
    color:#0073B7;
}

/* Fix para telas mobile */
#icone-mostra-respostas-rapidas {
    display: inline;
    align-items: center;
    font-size: 11pt;
    margin-left: 10px;
    color: #0073B7;
    cursor: pointer;
}

#icone-abre-side-left {
    align-items: center;
    font-size: 14pt;
    margin-left: 10px;
    color: #000;
    cursor: pointer;
}

.top-search-scroll {
    position:unset;
    width:100%;
    padding:unset;
    border-bottom: none;
}

@media only screen and (max-width: 1120px) {
    .opcoes-editar {
        position: relative;
        right: 0;
        top: 0;
    }
    .div-respostas-rapidas.hidden-tablet{
        display: none;
    }
    #icone-mostra-respostas-rapidas {
        visibility: visible;
        width: 20px;
    }

    #icone-mais-respostas {
        visibility: hidden;
        display: none;
    }
}
@media only screen and (max-width: 850px) {
    .box-side-left {
        overflow: hidden;
    }

    .box-side-left.open {
        overflow: auto;
    }

    #toggle-lateral-info.open {
        position: absolute;
        left: 200px;
        top: 145px;
        z-index: 200;
        height: 30px;
        width: 30px;
        background-color: rgba(0,200,0, 0.3);
        border-radius: 20px;
    }

    #toggle-lateral-info.open #icone-abre-side-left {
        visibility: visible;
        display: block;
        position: absolute;
        left: -2px;
        top: 6px;
    }
}

@media only screen and (min-width: 1120px) {
    #icone-mostra-respostas-rapidas {
        visibility: hidden;
        display: none;
    }
}

@media only screen and (min-width: 851px) {
    #edicao {
        padding-left: 250px;
    }

    #content .titulo {
        visibility: hidden;
        display: none;
    }
}
/* endfix */
