.form-steps {
	position: absolute;
	bottom: 75px;
	top: 0;
	overflow: auto;
}

.form-steps button {
	text-transform: none !important;
}

.card-div {
	height: 155px;
	width: 280px;
	text-decoration: none !important;
}

.height-auto {
	height: auto;
}

.width-auto {
	width: auto;
}

.card-image {
	height: 62px;
	display : flex;
	align-items : center;
	justify-content: center;
}

.card-div label {
	text-align: center;
}

.card-div .label-type,
.card-div-wide .label-type {
    font: normal normal normal 16px/22px Gilroy-Bold !important;
}

.card-div-wide .label-key {
    font: italic normal normal 12px/18px Arial !important;
}

.pix-logo {
	margin-left: 15%;
	position: absolute;
	top: 65px;
	width: 320px;
	height: 225px;
}

.card-div .card-image img {
	margin: 10px;
}

.card-div p {
	font-size: 12px;
}

.form-title,
.form-title h2 {
	margin-bottom: 0;
	padding-bottom: 0 !important;
}

.editable-key label {
	text-align: left;
	font: normal normal bold 20px/18px Arial;
	letter-spacing: 0px;
	color: #666666;
	opacity: 1;
	margin-top: 10px;
}

.editable-key button {
	border: none;
	font-size: large;
	background: none;
	color: #666666;
	outline: none;
}

.editable-key button:after {
	font-weight: 900;
	font-family: 'Font Awesome 5 Free';
	content: "\f303";	
}

#form_pix_recebimento .card-div-wide {
	width: 488px;
	margin: 0px;
}

#form_pix_recebimento .logo-bling-conta {
	margin-left: 100px;
}

#form_pix_recebimento .logo-bling-conta img {
	width: 135px;
	height: 45px;
}

.pix-input-data {
	display: inline-grid;
	width: 350px;
}

#form_pix_recebimento_conclusao .check-logo {
	width: 48px;
}

#form_pix_recebimento_conclusao .green-box {
	margin: auto;
	display: flex;
	width: 620px;
	padding: 20px;
}

.qrcode {
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #5ABA80;
	border-radius: 8px;
	opacity: 1;
	padding: 2px;
	display: inline-block;
}

.qrcode img {
	width: 180px;
}

.qrcode-data {
	display: inline-block;
    margin: 20px;
    width: 100%;
}

.qr-code-table {
	display: table;
	height: 100%;
    width: 100%;
}

.qr-code-table div {
	display: table-row;
}

.qr-code-table div label {
	display: table-cell;
}

.qr-code-table .label-title {
	text-align: left;
	font: normal normal bold 14px/24px Arial;
}

.qr-code-table .label-value {
	text-align: right;
	font: normal normal normal 14px/24px Arial;
}

.qr-code-table .label-currency {
	text-align: right;
	font: normal normal bold 16px/24px Arial;	
	color: #5ABA80;
}

.qr-code-table .label-copy {
	text-align: right;
	font: normal normal bold 12px/14px Arial;
	color: #37A661;
	margin-right: 10px;
}

.qr-code-table span {
	display: flex;
    float: right;
	font-size: 14px;
	cursor: pointer;
	align-items: center;
}

.qr-code-table span > * {
	cursor: pointer;
}

#window-content-delete-pix-key .label-dialog {
	text-align: left;
	font: normal normal normal 12px/18px Arial;
	letter-spacing: 0px;
	color: #666666;
	opacity: 1;
}

.search-input-box {
	position: relative;
	height: 30px !important;
}

.search-input-box input,
.search-input-box .new-search-action {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 30px !important;
}

.search-input-box input {
	padding: 0 50px 0 10px !important;
	margin: 0 !important;
	border-radius: 4px !important;
}

.search-input-box .new-search-action {
	right: 0;
	width:40px;
	border-top-right-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
}

.lista-container {
	display: table;
	width: 100%;
	box-shadow: 0px 3px 6px #00000029;
	border: 1px solid #C9C9C9;
	border-radius: 5px;
	opacity: 1;
}

.lista-container table {
	width: 100%;
}

.lista-container tr td:nth-child(1),
.lista-container tr td:nth-child(2) {
	padding: 20px 0 20px 25px;
}

.lista-container tr td:nth-child(2) {
	padding: 10px;
	opacity: 1;
}

.lista-container tr td:nth-child(2) img {
	width: 40px;
	height: 40px;
}

.lista-container tr td.contact-name {
	text-align: left;
	font: normal normal bold 16px/20px Arial;
	letter-spacing: 0px;
	color: #7B7B7B;
	opacity: 1;
}

.lista-container tr {
	border-bottom: 1px solid #e1e1e1;
}

.lista-container tr:hover {
	cursor: pointer;
	background-color: #E8E8E8;
}

.lista-container .btn-group button {
	border: 0;
	background-color: transparent;
}

.lista-container .account-list-edit {
	color: #93E3DB;
}

.complete-step {
	display: block;
}

.complete-step .btn_conclusao {
	width: 360px;
	margin: auto;
}

.complete-step .btn_conclusao button {
	margin-left: 10px;
	margin-right: 10px;
}

.green-box h4 {
	margin-top: 0;
}

.green-box .group-item-form.info-field label {
	display: block;
	text-align: left;
	font: normal normal normal 12px/17px Arial;
	letter-spacing: 0px;
	color: #666666;
	opacity: 1;
}

.green-box .group-item-form.info-field input,
.green-box .group-item-form.info-field div {
	display: block;
	text-align: left;
	font: normal normal bold 16px/24px Arial;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
	border: 0;
	padding: 0;
	background-color: transparent;
}

.green-box .input-radio-group {
	display: inline;
}

.green-box .input-radio label {
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	border: 1px solid #C9C9C9;
	border-radius: 5px;
	opacity: 1;
	width: 200px;
	height: 40px;
	padding: 9px 15px 0 15px;
	color: #7B7B7B;
	text-align: left;
	font: normal normal normal 16px/20px Gilroy-Bold;
	letter-spacing: 0px;
}

.green-box .input-radio input:checked + label {
	background: #3FAF6C 0% 0% no-repeat padding-box;
	color: #FFFFFF;
	opacity: 1;
}

.balance_available h4 {
	text-align: right;
	margin: 0;
	padding: 0;
}

.balance_available p {
	text-align: right;
	font: normal normal normal 24px/30px Gilroy-Bold;
	letter-spacing: 0px;
	color: #37A661;
	margin: 0;
	padding: 0;
}

.pix-key-type {
	margin-bottom: 15px;
}

.pix-key-type select {
	position: absolute;
	width: 140px;
	height: 32px;
	outline: none;
	border: 1px solid #CCCCCC;
	border-radius: 8px;
	opacity: 1;
}

.pix-key-type input[type="text"] {
	box-shadow: 0px 2px 5px #00000029;
	padding-left: 155px !important;
	width: 80% !important;
}

.pix-key-type .fa-check {
	display: none;
	font-size: 16pt;
	color: #3FAF6C;
	padding-left: 15px;
}

.box-shadow {
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	border: 1px solid #C9C9C9;
	border-radius: 5px;
	opacity: 1;
	padding: 20px;
}

.box-shadow .account-img {
	width: 50px;
	height: 50px;
	padding: 10px;
	border: 1px solid #C9C9C9;
	border-radius: 2px;
	opacity: 1;
	margin-right: 15px;
}

.box-shadow h4 {
	text-align: left;
	font-family: 'Gilroy-Bold';
	font-size: 16px;
	letter-spacing: 0px;
	color: #7B7B7B;
	opacity: 1;
	margin-top: 0;
}

.box-shadow p {
	text-align: left;
	font-family: 'Gilroy-Form';
	font-size: 12px;
	letter-spacing: 0px;
	color: #7B7B7B;
	opacity: 1;
	padding: 0;
	margin: 5px 0 0 0;
	min-width: 180px;
	min-height: 32px;
}

.errors-message {
	margin-top: 20px;
}

.input_dataOperacao {
	position: relative;
	margin-top: 15px;
}

.input_dataOperacao label {
	display: block;
}

.input_dataOperacao input {
	width: 200px;
	height: 40px;
	border-radius: 5px;
}

.input_dataOperacao img.ui-datepicker-trigger {
	position: absolute;
	top: 33px !important;
	right: 15px !important;
	right: 0;
	content: url(../../images/calendar.svg);
	cursor: pointer;
	margin-right: 8px;
}

.pix-footer {
	display: block;
	text-align: center;
	letter-spacing: 0px;
	opacity: 1;
	cursor: pointer;
	width: 200px;
    margin: auto;
}

.pix-footer label {
	font: normal normal normal 12px/20px Arial;
	letter-spacing: 0px;
	color: #666666;
	opacity: 1;
	cursor: pointer;
}

.pix-footer .seguro label {
	font: normal normal normal 10px/20px Arial;
}

.pix-footer .seguro img {
	vertical-align: text-top;
}

.pix-footer > * {
	cursor: pointer;
}

.pix-how-to-use {
	width: 500px;
	margin: auto;
	opacity: 1;
	letter-spacing: 0px;
}

.pix-how-to-use h2 {
	font: normal normal normal 20px/28px Gilroy-Bold !important;
	text-align: left;
	color: #666666 !important;
}

.pix-how-to-use tr {
	height: 45px;
}

.pix-how-to-use td {
	font: normal normal normal 13px/20px Arial !important;
	color: #666666 !important;
	padding-left: 10px;
}

.pix-how-to-use td img {
	text-align: center;
}

.bling-button {
	text-transform: none !important;
}