@charset "UTF-8";

@media screen and (min-width:1600px) {
	#div_imagem_produto {
		min-height: 250px;
	}

	#div_imagem_produto.no-image:before {
		font-size: 50pt;
	}
}

@media screen and (max-width: 1199px) {
	#div_total_venda span:nth-child(1),
	#div_total_venda span:nth-child(2) {
		font-size: 12pt;
	}

	#div_total_venda span:nth-child(3) {
		font-size: 28pt;
	}

	#div_total_venda span:nth-child(4) {
		font-size: 20pt;
	}

	#detalhes_produto #valor_lista {
		font-size: 22pt;
	}

	#detalhes_produto label {
		bottom: 28px;
	}

	#produtos_favoritos a:before {
		content: attr(data-qtd) "Produtos favoritos";
	}

	#trocar_loja a:after {
		content: "Trocar loja (" attr(data-nome-loja) ")";
	}
}

@media screen and (max-width:991px) {
	#main-container {
		background-color: #FFF;
	}

	#painel_base .divisao-painel-base:nth-child(2) {
		margin-top: 25px;
	}

	#background_bem_vindo {
		padding: 20%;
	}

	#btn_cancelar_venda:before,
	#btn_finalizar_venda:before,
	#btn_imprimir:before {
		content: '';
		margin: 0;
	}

	#div_imagem_produto {
		min-height: 280px;
	}

	.divisao-painel-base {
		padding: 0;
	}

	.divisao-painel-base:nth-child(1) {
		padding-right: 0;
	}

	.divisao-painel-base:nth-child(2) {
		padding-left: 0;
	}

	.rodape-painel,
	#produtos_favoritos,
	#insercao_produto {
		width: 100%;
		position: initial;
	}

	.corpo-painel,
	#produtos_favoritos {
		height: auto;
	}

	#insercao_produto {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}

@media screen and (min-width: 992px) {
	#painel_base {
		display: -webkit-box;
	}

	.divisao-painel-base:nth-child(1) .corpo-painel:not(.produto) {
		height: calc(100vh - 43.5px - 141px);
	}

	.divisao-painel-base:nth-child(2) .corpo-painel {
		height: calc(100vh - 43.5px - 105px);
	}

	.corpo-painel.produto {
		height: calc(100vh - 43.5px - 217px);
	}
}

@media screen and (min-width: 1200px) {
	#btn_cancelar_venda:after,
	#btn_finalizar_venda:after,
	#btn_imprimir:after,
	.nav-item > a[data-aba="produto"]:after,
	.nav-item > a[data-aba="cliente"]:after,
	.nav-item > a[data-aba="pagamento"]:after {
		content: ' - (' attr(data-shortcut) ')';
		text-transform: capitalize;
	}

	#produtos_favoritos a:before {
		content: attr(data-qtd) 'Produtos favoritos (' attr(data-shortcut) ')';
		text-transform: capitalize;
	}

	#link_pesquisa_avancada:after,
	#btn_nova_venda:after,
	#sangria a:after,
	#suprimento a:after,
	#fechar_caixa a:after {
		content: ' (' attr(data-shortcut) ')';
		text-transform: capitalize;
	}

	#sangria a:after,
	#suprimento a:after,
	#fechar_caixa a:after {
		white-space: pre;
	}

	#trocar_loja a:after {
		content: 'Trocar loja (' attr(data-nome-loja) ') (' attr(data-shortcut) ')';
		text-transform: capitalize;
	}
}

@media screen and (max-width:767px) {
	input.totais {
		width: 100%;
		margin-right: 0;
	}

	#div_total_venda span:nth-child(1),
	#div_total_venda span:nth-child(2) {
		font-size: 14pt;
	}

	#div_total_venda span:nth-child(3) {
		font-size: 26pt;
	}

	#div_total_venda span:nth-child(4) {
		font-size: 18pt;
	}

	#div_imagem_produto {
		min-height: 190px;
	}

	.divisao-painel-base:nth-child(1) .cabecalho-painel h3 {
		margin-bottom: 10px;
	}

	.divisao-painel-base:nth-child(1) .cabecalho-painel {
		height: 100px;
	}

	.abas-navegacao .navbar-nav .nav-item {
		width: 100%;
		border-right: none;
		border-left: none;
	}

	.abas-navegacao .navbar-nav {
		margin: 0;
	}

	.ui-dialog:not(.no-width-100) {
		width: 100% !important;
	}

	.ui-dialog-content:not(.no-width-100) {
		height: calc(100% - 90px) !important;
	}

	.popover {
		max-width: 250px !important;
	}

	#detalhes_produto #valor_lista {
		font-size: 18pt;
	}

	#detalhes_produto label {
		bottom: 25px;
	}
}

@media screen and (max-width: 544px) {
	#sync_cert.cert-ok i:after {
		content: "OK";
	}

	#div_total_venda span:nth-child(1),
	#div_total_venda span:nth-child(2),
	#div_total_venda span:nth-child(4) {
		font-size: 10pt;
	}

	#div_total_venda span:nth-child(3) {
		font-size: 14pt;
	}

	#div_imagem_produto {
		min-height: 100px;
	}

	#div_imagem_produto.no-image:before {
		font-size: 24pt;
	}

	#detalhes_produto p {
		bottom: 20px;
	}

	#detalhes_produto #nome_produto {
		font-size: 8pt;
	}

	#pag_parcelas {
		overflow-x: auto;
	}

	#pag_grparcelas #str_frame_pagamento_formas {
		min-width: 220px;
	}

	#pag_grparcelas #str_frame_pagamento_observacao {
		min-width: 200px;
	}
}

@media screen and (max-width: 850px) {
	#main-container {
		margin-top: 0;
	}

	#formControleCaixaSangria input {
		float: none !important;
	}
}

@media (min-width:1920px) {

	body {
		max-width: none !important;
	}

	.box-content:not(.box-content-preferencias) {
		padding-right: 0 !important;
	}

}
