.margin-bottom-8 {
	margin-bottom: 8px !important;
}

.margin-bottom-16 {
	margin-bottom: 16px !important;
}

.padding-left-32 {
	padding-left: 32px;
}

.new-input-selector {
	margin: 16px 0 16px 0;
}

.new-input-selector input[type="radio"] {
	display: none;
}

.new-input-selector input[type="radio"]:checked + label {
	border: 2px solid #3FAC6C !important;
}

.new-input-selector label {
	font-family: "Gilroy-Bold" !important;
	border: 2px solid #CCC !important;
	display: block !important;
	text-align: center !important;
	padding: 15px !important;
	font-size: 15px !important;
	color: #7B7B7B !important;
	border-radius: 10px !important;
	cursor: pointer !important;
}

.icon-lista {
	margin-top: 80px;
	width: 279px;
	height: 198px;
}

.info-data span {
	font-family: "Gilroy-Regular";
	font-size: 12px;
	color: #666;
	opacity: 1;
}

.new-input-selector label:before {
	display: block;
	font-size: 50pt;
	margin-bottom: 16px;
}

.new-input-selector label {
	height: 160px;
	width: 180px;
	margin: auto;
}

.new-input-selector img {
	height: 54px;
	width: 100%;
	margin: 16px 0;
}

.bling-form {
	margin: 0 !important;
	box-shadow: none !important;
	min-height: auto !important;
}

.resumo-titulo,
.resumo-data {
	display: block;
	font-size: 15px;
	color: #666;
}

.resumo-titulo {
	font-weight: bold;
	margin-bottom: 8px;
}

.slideIn-card {
	position: relative;
	background-color: #F7F7F7;
	-webkit-box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.75);
	border-radius: 4px;
	padding: 15px 0;
	margin-bottom: 16px;
}

.slideIn-card .slideIn-card-title {
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
	font-size: 15px;
}

.form-bling {
	margin: 0px !important;
	padding: 0px !important;
}

.slideIn-card img {
	border: 1px solid #CCC;
	background-color: #FFF;
	border-radius: 8px;
	-webkit-box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.75);
	padding: 8px;
}

.slideIn-card .slideIn-card-info span {
	display: block;
}

.slideIn-card .slideIn-card-info span:nth-child(1) {
	font-size: 14px;
	color: #666;
	margin-bottom: 2px;
}

.slideIn-card .slideIn-card-info span:nth-child(2) {
	font-size: 12px;
	font-weight: bold;
}

.slideIn-card .slideIn-card-checkbox {
	position: absolute;
	left: 16px;
}

.fa-camera {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: "\f030";
	font-size: 30pt;
	color: #d6d4d4;
	padding: 20px;
}

#lista_preco_slideIn .table-body .input-checkbox input[type="checkbox"]:checked + label:after {
	position: relative;
}

#tabela_contato_lista .fa-trash-alt,
#tabela_contato_add .fa-trash-alt {
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;
	-webkit-appearance: none;
	color: #CB3C3C;
	float: right;
	margin: -45px -35px 0px 0px;
}

#lista_preco_slideIn .title-slideIn {
	font-family: "Gilroy-Bold";
	font-size: 15px;
	color: #666;
	display: block;
}

#lista_preco_inclusao div[data-step="1"] span:nth-child(1) {
	font-family: "Gilroy-Bold";
	font-size: 22px;
	color: #666;
	margin-top: 32px;
	margin-bottom: 48px;
}

#lista_preco_inclusao div[data-step="1"] span:nth-child(2) {
	color: #666;
	font-size: 12px;
	margin-bottom: 16px;
}

#lista_preco_inclusao div[data-step="1"] a {
	text-decoration: none;
	font-weight: bold;
	color: #3FAC6C;
	font-size: 12px;
}

#lista_preco_slideIn .middle-text {
	font-family: "Gilroy-Regular";
	font-size: 12px;
	color: #777;
	display: flex;
	justify-content: center;
	margin-top: 28px;
}

#resumo_lista div[data-tipo="1"] span:before {
	content: "Percentual/valor";
}

#resumo_lista div[data-tipo="2"] span:before {
	content: "Período";
}

#resumo_lista div[data-tipo="3"] span:before {
	content: "Customizável";
}

#tabela_listagem_listas div[data-tipo-fator="1"] span + span:before,
#resumo_lista div[data-tipo-fator="1"] label:before {
	content: "Porcentagem";
}

#tabela_listagem_listas div[data-tipo-fator="2"] span + span:before,
#resumo_lista div[data-tipo-fator="2"] label:before {
	content: "Valor";
}

#tabela_listagem_listas div[data-tipo-fator="3"] span + span:before {
	content: "Customizável";
}

#resumo_lista div[data-tipo-fator="0"] {
	display: none;
}

#resumo_lista div[data-validade="false"],
#resumo_lista div[data-hora="false"] {
	display: none;
}