#lista_accordion .accordion-item .accordion-heading {
    cursor: pointer;
}

#lista_accordion .accordion-item:first-child .accordion-heading > div {
    border-top: 1px solid #CCCCCC;
}

#lista_accordion .accordion-item .accordion-heading > div {
    border-bottom: 1px solid #CCCCCC;
    padding: 15px 15px 10px;
    font-size: 12px;
    display: flex;
}

#lista_accordion .accordion-item .accordion-heading .accordion-title {
    flex: 9;
    display: flex;
}

#lista_accordion .accordion-item .accordion-heading .accordion-title .fas {
    font-size: 16px;
    min-width: 16px;
    margin-right: 8px;
    text-align: center;
}

#lista_accordion .accordion-item .accordion-heading .accordion-title .fa-check {
    color: #3FAF6C;
}

#lista_accordion .accordion-item .accordion-heading .accordion-title .fa-times {
    color: #DA6F77;
}

#lista_accordion .accordion-item .accordion-heading .accordion-icons {
    flex: 1;
    text-align: right;
    line-height: 19px;
}

#lista_accordion .accordion-item .accordion-heading .accordion-icons .icon-trash {
    display: none;
}

#lista_accordion .accordion-item .accordion-heading:hover .accordion-icons .icon-trash {
    color: #DD6F77;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
}

#lista_accordion .accordion-item .accordion-heading .accordion-icons .icon-trash.icon-trash-disabled {
    cursor: not-allowed;
    color: grey;
}

#lista_accordion .accordion-item .accordion-heading .accordion-icons .chevron {
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    font-style: normal
}

#lista_accordion .accordion-item .accordion-heading .accordion-icons .chevron::before {
    content: "\f077";
}
#lista_accordion .accordion-item .accordion-heading.collapsed .accordion-icons .chevron::before {
    content: "\f078";
}

#lista_accordion .accordion-item .accordion-heading:hover {
    background-color: #E5E5E5;
}

#lista_accordion .accordion-item .accordion-body {
    border-bottom: 1px solid #CCCCCC;
    padding: 0 15px;
}

#lista_accordion .accordion-item .accordion-body p {
    padding: 0;
    color: #3F3D3D;
    font-size: 11px;
}