*{
	margin:0px;
	padding:0px;
	list-style:none;
}

html{
	background:none;
}

body{
	background:none;
	margin-top:30px;
}

.widget-login-box{
	border-left: 1px solid #CCCCCC;
    display: inline;
    float: left;
    padding: 20px 20px 20px 40px;
    text-align: left;
    width: 170px;
}

#slot_logo_empresa{
	float:left;
	margin-top:50px;
	margin:50px 30px 0px 30px;
}

.widget-login-footer{
	display:block;
	clear:both;
	float:left;
	width:170px;
}

