@import url("fontawesome-5.5.0/css/all.css");
#container-challenges {
	display: none;
	height: fit-content;
	padding-bottom: 12px;
}

.o-shutdown-onboarding{
	width: 100%;
	height: 16px;
	padding: 8px;
}

.e-shutdown-onboarding {
	float: right;
	margin-right: 8px;
	margin-top: 8px;
	font-size: 22px;
	color: #01D67C;
	color: var(--green-color, #01D67C);
}

.e-container-challenge-greetings {
	width: 100%;
	padding: 16px 48px 0px 48px;
}

.e-container-challenge-heading {
	font-family: 'Gilroy';
	font-family: var(--bling-form-font-family, 'Gilroy');
	font-weight: bold;
	color: #666;
	color: var(--gray-font-color, #666);
	font-size: 20px;
	text-align: center;
	margin-top: 16px;
}

.e-container-challenge-description {
	font-size: 14px;
	text-align: center;
	color: #666;
	color: var(--gray-font-color, #666);
}

.e-container-challenge-main-img {
	margin-bottom: 16px;
}

.e-container-challenge-task-title {
	font-family: 'Gilroy';
	font-family: var(--bling-form-font-family, 'Gilroy');
	font-size: 12px;
	font-weight: bold;
	color: #666;
	color: var(--gray-font-color, #666);
}

#container-challenges .task {
	font-size: 14px;
	color: #666;
	color: var(--gray-font-color, #666);
	margin-top: 8px;
	margin-bottom: 8px;
	display: inline;
	margin-left: 8px;
	font-weight: normal;
}

#container-challenges .task > div {
	border-radius: 8px;
	color: #01D67C;
	color: var(--green-color, #01D67C);
	height: 16px;
	width: 16px;
}

#container-challenges .fas {
	cursor:pointer;
	transition: all 0.5s ease 0s;
	margin-left: 8px;
}
#container-challenges .fas.opened {
	transform: rotate(90deg);
}

#container-challenges .task > div.fa-check {
	background-color: #01D67C;
	background-color: var(--green-color, #01D67C);
	color: #FFF;
}

#container-challenges .task-link {
	font-size: 12px;
	font-weight: normal;
	color: #01D67C;
	color: var(--green-color, #01D67C);
	display: inline-block;
	text-decoration: none;
	margin-bottom: 8px;
	margin-left: 24px;
	width: calc(100% - 24px);;
}

#container-challenges div.main-task {
	font-size: 12px;
	font-weight: bold;
	color: #01D67C;
	color: var(--green-color, #01D67C);
	margin-bottom: 16px;
}

#container-challenges .reward {
	float: right;
	font-size: 16px;
	color: #C9C9C9;
}

#container-challenges .reward-success {
	color: #01D67C;
	color: var(--green-color, #01D67C);
}

#container-challenges #resume-tasks {
	font-weight: bold;
	color: #3F3D3D;
	color: var(--dark-gray-font-color, #3F3D3D);
	font-size: 16px;
	display: flex;
	align-items: center;
}

#resume-tasks > div:not(:last-of-type) {
	margin-right: 8px;
}

#container-challenges #resume-tasks > #tasks-to-do {
	font-weight: bold;
	color: #3F3D3D;
	color: var(--dark-gray-font-color, #3F3D3D);
	font-size: 16px;
}

#container-challenges .progress {
	border-radius: 8px;
	height: 8px;
	margin-bottom: 0px;
}

#container-challenges #perc-total,
.reward-success {
	color: #01D67C;
	color: var(--green-color, #01D67C);
}

#container-challenges .progress-bar-success {
	background: #70DBAD 0% 0% no-repeat padding-box;
}