/*
.tabela {margin-top: 0px; padding: 0px; border-collapse: collapse; width: 100%;}
.tabela th {color: #555; border: 1px solid #999; padding: 6px 20px; background: #FFF; border-bottom: 3px solid #aaa;}
.tabela td {margin: 0px; border-bottom: none; border: 1px solid #999; background: #fff; padding: 4px 10px; font-size: 10pt; text-align: center; }
.tabela td.none {border: 0;}
.tabela td.top {text-align: left; vertical-align: middle; padding: 5px; border-bottom: 3px solid #aaa;}
.tabela td.title {background: #E8E8E3; text-align: left;}
.tabela td.footer {background: #FFF;text-align: center;padding:10px 0;}
.tabela td.destaque {font-size: 12pt; font-weight: bold; color: #615958; background: #F0F0EC;}
.tabela td.destaque2 {font-size: 13pt; font-weight: bold; color: #615958; background: #F0F0EC; padding: 8px 10px;}
.tabela td.checked {text-align: center; background: #F0F0EC url(images/check.gif) no-repeat center;}
.tabela td.not {text-align: center; background: #F0F0EC url(images/no.gif) no-repeat center;}
.titanio {border-bottom: 7px solid #4DCFB4;font-size: 12pt; font-weight: bold;}
.cobalto {border-bottom: 7px solid #2BAAE6;font-size: 12pt; font-weight: bold;}
.cromo {border-bottom: 7px solid #BF3B7E;font-size: 12pt; font-weight: bold;}
.niquel {border-bottom: 7px solid #DF7E0D;font-size: 12pt; font-weight: bold;}
.nfe {border-bottom: 7px solid #2BAA00;font-size: 12pt; font-weight: bold;}
.gratis {border-bottom: 3px solid #D9AE5F;font-size: 12pt; font-weight: bold;}
tr.over td.not, tr.over td.checked, tr.over td.destaque, tr.over td.destaque2 {background-color:#DFDED1;}
tr.over td.title{background-color:#DFDED1;}
.link,.link:hover,.link:focus{display:inline;margin:0; color:blue; font-weight: normal; border:0; cursor:pointer; background:transparent; text-decoration:underline; }
.warning{background-color:#FFFFE0; border:1px solid #FFA500; }
.tip-message-red{margin:3px 0 7px 0; font-size:7pt; color:red; max-width:250px; }
*/
.tabela {margin-top: 0px; padding: 0px; border-collapse: collapse; width: 100%;}
.tabela th {color: #555; border: 1px solid #FFF; padding: 6px 20px; background: #F1F1F1; border-bottom: 1px solid #aaa;}
.tabela td {margin: 0px; border-bottom: 1px solid #aaa; border-right: 1px solid #aaa; background: #fff; padding: 4px 10px; font-size: 10pt; text-align: center; }
.tabela td.none {border: 0; color:#333; font-weight: bold; margin-top:0;}
.tabela td.none1 {border: 0; border-right: 1px solid #aaa;}
.tabela td.top {text-align: left; vertical-align: middle; padding: 5px; border-bottom: 3px solid #aaa;}
.tabela td.title {background: #fff; text-align: left; font-weight: bold;color:#333;border-left:0; font-size:8pt; border:1px solid #aaa;}
.tabela td.footer {background: #fff;text-align: center;padding:10px 0;border: 0;}

.tabela td.destaque {font-size: 12pt; font-weight: bold; color: #615958; background: #fff;}
.tabela td.destaque2 {font-size: 13pt; font-weight: bold; color: #615958; background: #fff; padding: 8px 10px;}
.tabela td.checked {text-align: center; background: #fff url(images/yes.png) no-repeat center;}
.tabela td.not {text-align: center; background: #fff url(images/no_bw.png) no-repeat center;}

th.plano{background-color:#FFF;font-size: 12pt; font-weight: bold; color:#222;text-align:left;padding-left:10px;}
th.platina {background-color:#9BC115;font-size: 12pt; font-weight: bold; color:#fff;text-align:center;}
th.titanio {background-color:#3B9F9D;font-size: 12pt; font-weight: bold; color:#fff;text-align:center;}
th.cobalto {background-color:#2BAAE6;font-size: 12pt; font-weight: bold; color:#fff;text-align:center;}
th.cromo {background-color:#BF3B7E;font-size: 12pt; font-weight: bold; color:#fff;text-align:center;}
th.niquel {background-color:#DF7E0D;font-size: 12pt; font-weight: bold; color:#fff;text-align:center;}
.nfe {border-bottom: 7px solid #2BAA00;font-size: 12pt; font-weight: bold;}
.gratis {border-bottom: 3px solid #D9AE5F;font-size: 12pt; font-weight: bold;}
.mini {font-size:7pt}
tr.over td.not, tr.over td.checked, tr.over td.destaque, tr.over td.destaque2 {background-color:#E0FFBF;}
tr.over td.title{background-color:#E0FFBF;}
.func-title {
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.func-available {
	border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.info{margin:0 0 0 1px;padding:0; font-weight:normal; border:0; color:#444; font-size:8pt;}
.warning{background-color:#FFFFE0; border:1px solid #FFA500; }
.tip-message-red{margin:3px 0 7px 0; font-size:7pt; color:red; max-width:250px; }

.destaque2 {font-size: 13pt; font-weight: bold; color: #615958; background: #fff; padding: 8px 10px;}
tr.over .destaque2 {background-color: #E0FFBF;}
.mini {font-size: 7pt; font-weight: bold;}
tr.over .mini {background-color: #E0FFBF;}
body {margin: 0; padding: 0; font-family: Arial,Helvetica,sans-serif; font-size: 9pt; text-align: center; font-style: normal;}
