@media screen and (max-width:850px) {
	.wh35-sacola {
		width: 35% !important;
	}

	.wh65-sacola {
		width: 65% !important;
	}

	.td-img{
		margin-right: -30px;
		margin-left: 30px;
		margin-bottom: 10px;
	}

	.no-image:before {
		margin-left: 0px !important;
	}
}

@media screen and (max-width: 767px) {
	#datatable td {
		padding: 0px !important;
		height: auto;
		position: relative;
	}

	.td-img{
		margin-right: -30px;
		margin-left: 30px;
		margin-bottom: 10px;
	}

	.no-image:before {
		margin-left: 0px !important;
	}
}

.input-group-sacola {
	margin: 15px 0;
}

.input-group-sacola .button-minus,
.input-group-sacola .button-plus {
	background-color: transparent;
	font-weight: bold;
	height: 38px;
	width: 38px;
	padding: 0;
	border: none;
	color: #49B776;
}

.input-group-sacola .quantity-field {
	height: 38px;
	text-align: center;
	width: 60px;
	border-color: #49B776;
}

#datatable .fa-trash-alt {
	color: #CB3C3C;
}

#datatable .fa-trash-alt:hover {
	cursor: pointer;
}

.input-group-sacola input:focus {
	outline: 0px auto;
}

#sacola-compras-info h3 {
	font-size: 17px;
	color: #747474;
}

#sacola-compras-info label {
	font-size: 12px;
	color: #747474;
}

#sacola-compras-info table {
	margin: 0;
	font-size: 9pt;
	line-height: 30px;
	margin-bottom: 15px;
}

#sacola-compras-info table td:nth-child(1) {
	text-align: left;
	color: #747474;
}

#sacola-compras-info table td:nth-child(2) {
	text-align: right;
	font-weight: bold;
	color: #01D67C;
}

.tabela-listagem td.foto,
.tabela-listagem td.no-image  {
	border: 1px solid #D6D4D4 !important;
	border-radius: 0 !important;
	min-height: 50px;
    display: flex;
	justify-content: center;
	align-items: center;
	cursor: default;
    width: 80px;
}

.no-image:before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: "\f030";
	font-size: 20pt;
	color: #D6D4D4;
	margin-left: -10px;
}

.common-action-container button {
	height: 30px;
	width: 39px;
	border: 1px solid #CCC;
	color: #666;
	font-size: 12pt;
	border-radius: 4px;
	background-color: #FFF;
	margin-right: 5px;
}

#datatable .tabela-listagem tr td.foto {
    padding: 2px 0px 0px 0px !important;
}

#datatable .tabela-listagem tr td.foto img {
	height: 30px !important;
}

#datatable .tabela-listagem td img {
	max-height: 50px;
	max-width: 70px;
}

#datatable table.tabela-listagem tr td span.marcadores span:not(.fa-clock):last-child {
    margin-right: 15px !important;
}