.form-email {
    display: table;
    width: 100%;
    max-width: 661px;
    border: 1px solid lightgray;
    margin-bottom: 100px;
    border-top: 10px solid #3FAF6C;
}

.form-email .cabecalho {
    margin: 50px 0px 20px 50px;
}

.form-email .conteudo {
    margin-left: 50px;
}

.form-email .coluna {
    position: relative;
    float: left;
    width: 280px;
}

.form-email h1 {
    font-family: Arial;
    font-size: 18pt;
    color: #3F3D3D;
}

.form-email p {
    font-family: Arial;
    font-size: 11pt;
    color: #3F3D3D;
    line-height: 1.5;
}

.form-email .grupo-botao {
    position: relative;
    width: 255px;
    margin: 25px 0px;
}

.form-email .grupo-botao input {
    height: 40px;
    width: 255px;
    font-weight: bold;
    font-size: 11pt;
    color: #FFF;
    border: 0px;
    background-color: #E84459;
}

.form-email .grupo-botao .texto-link {
    text-align: center;
    font-family: Arial;
    font-size: 8pt;
    color: #3F3D3D;
}

.form-email .grupo-botao .texto-link a {
    color: #7CB5D8;
}

#imagem {
    position: relative;
    display: block;
    width: 160pt;
    border-collapse: collapse;
    margin: 25px 0px;
    padding: 0px;
    border: 0px;
}

#imagem#img {
    position: absolute;
    height: inherit;
    width: inherit;
}

.form-email .rodape {
    float: left;
    width: 83%;
    margin: 25px 0px 00px 50px;
    padding-top: 25px;
    padding-bottom: 50px;
    border-top: 1px solid lightgray;
}

.form-email .rodape .assinatura {
    float: left;
    margin: 10px 0px 0px 0px;
}

.form-email .icones-socialmedia {
    float: right;
    padding-top: 15px;
}

.form-email .tabela {
    border: 1px solid lightgray;
    font-family: Arial;
    font-size: 10pt;
    color: #3F3D3D;
}

.form-email .tabela td {
    padding: 7px;
}

.form-email .left {
    text-align: left;
}

.form-email .right {
    text-align: right;
}

.form-email .center {
    text-align: center;
}

.texto-green {
    color: green;
}

.texto-red {
    color: red;
}

.hidden {
    display: none;
}