.form-comprovante .conteudo {
    margin-left: 50px;
    margin-right: 50px;
}

.label, .valor {
	margin: 0;
	padding: 0;
}

.label {
	font-weight: bold;
}

.valor {
	color: #3FAF6C !important;
	font-size: 12pt !important;
	margin-bottom: 10px;
}

.observacao {
	text-align: center;
	color: #FF0000 !important;
}