.background-email {
    background-color: #F2FAF8;
    display: flex;
}

.template-email {
    margin-bottom: 15px;
    margin-top: 15px;
    height: auto;
    width: 650px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.template-card {
    border-radius: 10px;
    background-color: #fff;
    width: 100%;
    float: left;
    padding-left: 32px;
    padding-right: 32px;
    color: #666666;
}

.font-greeting {
    font: 18px/18px Arial;
    margin-top: 24px;
}

.font-title {
    font: 13px/16px Arial;
}

.font-value, table {
    font: 12px/16px Arial;
}

.link-message {
    font: 13px/16px Arial;
    color: #3FAF6C !important;
    text-align: center;
    text-decoration:none;
}

.line-thumb {
    border-bottom: 1px solid #CCC;
    width: 98%;
    margin-top: 24px;
    margin-bottom: 24px;
}

.gray-message {
    font: 13px/16px Arial;
    color: #AEAEAE;
    text-align: center;
}

.know-more-message {
    font: 13px/16px Arial;
    color: #1BDA89;
    text-align: center;
    text-decoration:none;
    display: block;
    justify-content: center;
    margin-bottom: 16px;
}

.logo-bottom {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin-bottom: 10px;
}

.info-company {
    font: 10px/12px Arial;
    margin-top: 32px;
}

.logo-top {
    width: 100px;
}

.logo-email-width {
    width: 200px;
}

.logo-email-width-menor {
    width: 150px;
}

.validation-code {
    letter-spacing: 0px;
    color: #37A661;
    opacity: 1;
    text-align: center;
    font: normal normal bold 40px/24px Arial;
}