#files {
	margin: 0 0 0 0px;
	width: 356px;
	padding: 20px 20px 40px 20px;
	border: solid 2px #ccc;
	background: #fefefe;
	min-height: 240px;
	position: relative;
}

#files {
	-moz-box-shadow: 0 0 20px #ccc;
}

#fileList {
	list-style: none;
	padding: 0;
	margin: 0;
}

#fileList li {
	margin: 0;
	padding: 10px 0;
	margin: 0;
	overflow: auto;
	border-bottom: solid 1px #ccc;
	position: relative;
}

#fileList li img {
	width: 120px;
	border: solid 1px #999;
	padding: 6px;
	margin: 0 10px 0 0;
	background-color: #eee;
	display: block;
	float: left;
}

#reset {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #333;
	text-decoration: none;
}

/*#reset:hover {
	color: #333;
}*/

#upload {
	color: #fff;
	position: absolute;
	display: block;
	bottom: 10px;
	right: 10px;
}

#upload:hover {
	background-color: #333;
}

.loader {
	right: 0;
	color: orange;
	margin: 0;
}

.loadingIndicator {
	width: 0%;
	height: 2px;
	background-color: orange;
	position: absolute;
	bottom: 0;
	left: 0;
}

.imagePreview {
	width: 300px;
	padding: 10px;
	border: solid 1px #ccc;
	position: absolute;
	background-color: white;
}

.imagePreview img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}